<navigation fade="false"></navigation>

<div class="spacer100"></div>

<div class="container print_container">
  <div class="detailLogo">
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h2 class="unselectable">{{ehrenamt.konkreteTaetigkeit}}
        <br/>
        <small class="text-muted">{{ehrenamt.kategorie.name}}</small>
      </h2>
    </div>
  </div>
<div class="spacer40"></div>
  <div class="row bg-light pad-top">

    <div class="col-ls-6 col-sm-6 col-md-6 col-xs-12">
      <dl class="dl-horizontal">

        <dt class="text-left">Organisation</dt>
        <dd>{{ehrenamt.nameDerOrganisation}}</dd>

        <dt class="text-left">Ansprechpartnerin</dt>
        <dd>{{ehrenamt.ansprechpartnerIn}}</dd>

        <dt class="text-left">Adresse</dt>
        <dd>{{ehrenamt.adresse}}</dd>

        <dt class="text-left">Telefon</dt>
        <dd>{{ehrenamt.telefon}}</dd>
      </dl>
    </div>

    <div class="col-ls-6 col-sm-6 col-md-6 col-xs-12">
      <dl class="dl-horizontal">

        <dt class="text-left">E-MAIL</dt>
        <dd>{{ehrenamt.eMail}}</dd>

        <dt class="text-left">Homepage</dt>
        <dd>{{ehrenamt.homepage}}</dd>

        <dt class="text-left">Am besten erreichbar</dt>
        <dd>{{ehrenamt.erreichbar}}</dd>

        <dt class="text-left">Einsatzort</dt>
        <dd>{{ehrenamt.plzEinsatzort}}</dd>
      </dl>
    </div>

  </div>

  <div class="spacer10"></div>

  <div class="row" ng-show="ehrenamt.konkreteTaetigkeit">
    <div class="col-lg-12">
      <h3 class="unselectable">Tätigkeitsbeschreibung</h3>
      <p>{{ehrenamt.taetigkeitsbeschreibung}}</p>
    </div>
  </div>

  <div class="spacer10"></div>

  <div class="row" ng-show="ehrenamt.besondereLeistungen">
    <div class="col-lg-12">
      <h3 class="unselectable">Besondere Leistungen</h3>
      <p>{{ehrenamt.besondereLeistungen}}</p>
    </div>
  </div>

  <div class="spacer10"></div>

  <div class="row" ng-show="ehrenamt.zeitaufwandBemerkung">
    <div class="col-lg-12">
      <h3 class="unselectable">Zeitaufwand / Bemerkung</h3>
      <p>{{ehrenamt.zeitaufwandBemerkung}}</p>
    </div>
  </div>

  <div class="spacer10"></div>

  <div class="row" ng-show="ehrenamt.notwendigeKenntnisse">
    <div class="col-lg-12">
      <h3 class="unselectable">Notwendige Kenntnisse</h3>
      <p>{{ehrenamt.notwendigeKenntnisse}}</p>
    </div>
  </div>

  <div class="spacer20"></div>

  <div class="row no-print">
    <div class="col-lg-12">
      <button class="btn btn-default" ng-click="printEhrenamt()">Drucken</button>
      <a href="mailto:?subject={{ehrenamtDetailSubject}}&body={{ehrenamtDetailBody}}"><button class="btn btn-default">Per Mail Versenden</button></a>
      <button class="btn btn-default pull-right" ng-click="goToEhrenamt()">Zur Übersicht</button>
    </div>
  </div>
  <div class="spacer50"></div>
</div>
<!-- FOOTER -->
<div ng-include="'components/footer/footer.html'"></div>
<div ng-include="'components/navbar/navbar.html'"></div>
<!-- END FOOTER -->
