.print_container > .detailLogo {
   display: none;

  img {
    width: 200px !important;
  }
}

div.detailLogo {
  img {
    max-width: 200px !important;
  }
}

@media print {
  .no-print {
    display: none;
  }
}
