.dropdown-menu {
  left: -160px;
  top: 125%;

  color: white;

}

.username > li > a {
  color: white;
}

#login-dropdown-list a {
  background-color: transparent;
}

.username a {
  &:hover {
    text-decoration: none;
  }
}

.thumbnail {
  border-color: transparent;
}