<navigation fade="false"></navigation>

<div class="spacer100"></div>

<div class="container">

  <!-- HEADLINE -->

  <div class="row">
    <div class="col-lg-6">
      <h2>Redakteure</h2>
    </div>
    <div class="col-lg-6">
      <div class="spacer30"></div>
      <button type="submit" class="btn btn-primary pull-right" ng-click="newRedakteur()"><i class="fa fa-plus"></i> Neuen Redakteur anlegen</button>
    </div>
  </div>

  <!-- END HEADLINE -->

  <!-- TABLE OF USERS -->

  <div class="row">
    <div class="col-lg-12">

      <table class="table table-striped">
        <thead>
        <tr>
          <th>Username</th>
          <th>Mail</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td>
            <button
              class="btn btn-danger pull-right"
              mwl-confirm
              confirm-text="Löschen"
              placement="left"
              on-confirm="delete(user)"
              on-cancel="cancelClicked = true"
              confirm-button-type="danger"
              cancel-button-type="default">
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>

  <!-- END TABLE OF USERS-->

</div>

<div ng-include="'components/footer/footer.html'"></div>
<div ng-include="'components/navbar/navbar.html'"></div>
