<navigation fade="false"></navigation>

<div class="spacer100"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Passwort Ändern</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

        <div class="form-group">
          <label>Aktuelles Passwort</label>

          <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>Neues Passwort</label>

          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                 ng-minlength="3"
                 required/>
        </div>

        <div class="form-group">
          <label>Neues Passwort wiederholen</label>

          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword2"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-hide="(user.newPassword == user.newPassword2)">
            Passwort stimmt nicht überein.
          </p>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Password muuss mindestens 3 Zeichen haben.
          </p>
        </div>

        <p class="help-block"> {{ message }} </p>

        <button class="btn btn-lg btn-primary" type="submit" ng-disabled="!(user.newPassword == user.newPassword2)">Save changes</button>
      </form>
    </div>
  </div>
</div>

<div class="spacer50"></div>

<div ng-include="'components/footer/footer.html'"></div>
<div ng-include="'components/navbar/navbar.html'"></div>
