@white: #FFFFFF;
@whitestr: "#FFFFFF";
/*grey*/

@grey100: #D5D9D8;
@grey200: #D5D9D8;
@grey300: #B0B6B8;
@grey400: #B0B6B8;
@grey500: #6D7579;
@grey600: #434C53;
@grey700: #000000;

@grey100str: "#D5D9D8";
@grey200str: "#D5D9D8";
@grey300str: "#B0B6B8";
@grey400str: "#B0B6B8";
@grey500str: "#6D7579";
@grey600str: "#434C53";
@grey700str: "#000000";

@grey100orig: false;
@grey200orig: false;
@grey300orig: true;
@grey400orig: true;
@grey500orig: false;
@grey600orig: false;
@grey700orig: false;

/*silver*/

@silver100: rgb(213, 217, 216);
@silver200: #D5D9D8;
@silver300: #B0B6B8;
@silver400: #B0B6B8;
@silver500: #6D7579;
@silver600: #434C53;
@silver700: #000000;

@silver100str: "#D5D9D8";
@silver200str: "#D5D9D8";
@silver300str: "#B0B6B8";
@silver400str: "#B0B6B8";
@silver500str: "#6D7579";
@silver600str: "#434C53";
@silver700str: "#000000";

@silver100orig: false;
@silver200orig: false;
@silver300orig: false;
@silver400orig: true;
@silver500orig: false;
@silver600orig: false;
@silver700orig: false;

/*darkblue*/

@darkblue100: #D5D9D8;
@darkblue200: #D5D9D8;
@darkblue300: #B0B6B8;
@darkblue400: #B0B6B8;
@darkblue500: #6D7579;
@darkblue600: #434C53;
@darkblue700: #000000;


/*petrol*/

@darkblue100str: "#037da6";
@darkblue200str: "#006384";
@darkblue300str: "#005475";
@darkblue400str: "#004666";
@darkblue500str: "#003a54";
@darkblue600str: "#002d42";
@darkblue700str: "#002130";

@darkblue100orig: false;
@darkblue200orig: true;
@darkblue300orig: false;
@darkblue400orig: true;
@darkblue500orig: false;
@darkblue600orig: false;
@darkblue700orig: false;


/*red*/

@red100: #CC0033;
@red200: #CC0033;
@red300: #CC0033;
@red400: #CC0033;
@red500: #AA142D;
@red600: #AA142D;
@red700: #AA142D;


@red100str: "#CC0033";
@red200str: "#CC0033";
@red300str: "#CC0033";
@red400str: "#CC0033";
@red500str: "#AA142D";
@red600str: "#AA142D";
@red700str: "#AA142D";

@red100orig: false;
@red200orig: false;
@red300orig: false;
@red400orig: true;
@red500orig: false;
@red600orig: false;
@red700orig: true;


/*yellow*/

@yellow100: #990000;
@yellow200: #990000;
@yellow300: #990000;
@yellow400: #990000;
@yellow500: #990000;
@yellow600: #990000;
@yellow700: #990000;

@yellow100str: "#990000";
@yellow200str: "#990000";
@yellow300str: "#990000";
@yellow400str: "#990000";
@yellow500str: "#990000";
@yellow600str: "#990000";
@yellow700str: "#990000";

@yellow100orig: true;
@yellow200orig: false;
@yellow300orig: false;
@yellow400orig: true;
@yellow500orig: false;
@yellow600orig: false;
@yellow700orig: false;

/*green*/

@green100: rgba(194, 204, 166, 1);
@green200: rgba(179, 194, 132, 1);
@green300: rgb(163, 181, 98);
@green400: rgba(149, 168, 68, 1);
@green500: rgba(127, 143, 57, 1);
@green600: rgba(104, 117, 47, 1);
@green700: rgba(82, 92, 37, 1);

@green100str: "#C2CCA6";
@green200str: "#B3C284";
@green300str: "#A3B562";
@green400str: "#95A844";
@green500str: "#7F8F39";
@green600str: "#68752F";
@green700str: "#525C25";


@green100orig: true;
@green200orig: false;
@green300orig: false;
@green400orig: true;
@green500orig: false;
@green600orig: false;
@green700orig: false;

/*blue*/

@blue100: #D5D9D8;
@blue200: #D5D9D8;
@blue300: #B0B6B8;
@blue400: #B0B6B8;
@blue500: #6D7579;
@blue600: #434C53;
@blue700: #000000;

@blue100str: "#D5D9D8";
@blue200str: "#D5D9D8";
@blue300str: "#B0B6B8";
@blue400str: "#B0B6B8";
@blue500str: "#6D7579";
@blue600str: "#434C53";
@blue700str: "#000000";

@blue100orig: true;
@blue200orig: false;
@blue300orig: false;
@blue400orig: true;
@blue500orig: false;
@blue600orig: false;
@blue700orig: false;
