<tabset justified="true">

    <!-- Haftungsausschluss-->
    <tab heading="Haftungsausschluss">


<h4>Haftungsausschluss</h4>
<p>Die AUDI AG stellt die Inhalte dieser Internetseiten mit großer Sorgfalt zusammen und sorgt für deren regelmäßige Aktualisierung. Die Angaben dienen dennoch nur der unverbindlichen allgemeinen Information und ersetzen nicht die eingehende individuelle Beratung für eine Kaufentscheidung. Die technischen Merkmale und Ausstattungen der beschriebenen Fahrzeuge sind lediglich Beispiele. Solche Merkmale und Ausstattungen können insbesondere landesspezifisch variieren. Jederzeitige Änderungen bleiben vorbehalten. Verbindliche Angaben zu den technischen Merkmalen, Ausstattungen oder Eigenschaften unserer Fahrzeuge erhalten Sie ausschließlich jeweils aktuell von Ihrem Vertragshändler oder Importeur.<br/><br/>Die AUDI AG übernimmt keine Gewähr für die Aktualität, Richtigkeit und Vollständigkeit der Informationen auf diesen Seiten oder den jederzeitigen störungsfreien Zugang. Wenn wir auf Internetseiten Dritter verweisen (Links), übernimmt die AUDI AG keine Verantwortung für die Inhalte der verlinkten Seiten. Mit dem Betätigen des Verweises verlassen Sie das Informationsangebot der AUDI AG. Für die Angebote Dritter können daher abweichende Regelungen gelten, insbesondere hinsichtlich des Datenschutzes. Weiterhin schließt die AUDI AG ihre Haftung bei Serviceleistungen, insbesondere beim Download von durch die AUDI AG zur Verfügung gestellten Dateien auf den Internetseiten der AUDI AG, für leicht fahrlässige Pflichtverletzungen aus, sofern diese keine vertragswesentlichen Pflichten sowie Leben, Gesundheit oder Körper betreffen oder Ansprüche nach dem Produkthaftungsgesetz berührt sind. Gleiches gilt für Pflichtverletzungen unserer Erfüllungsgehilfen.</p>
<h4>Zusätzlicher Hinweis zu den Karriere Seiten</h4>
<p>Lediglich zur Vereinfachung der Lesbarkeit finden sich in den Texten der Audi Karriere Seiten ausschließlich die männlichen Bezeichnungen der von uns angebotenen Maßnahmen. Selbstverständlich ist ihre Ausrichtung in jedem Fall geschlechtsunabhängig.</p>
</tab>

    <!-- Haftungsausschluss-->
    <tab heading="Copyright">

<h4>Copyright</h4>
			<p>Sämtliche Texte, Bilder und andere auf der Internetseite veröffentlichten Werke unterliegen - sofern nicht anders gekennzeichnet - dem Copyright der AUDI AG, Ingolstadt. Jede Vervielfältigung, Verbreitung, Speicherung, Übermittlung, Sendung und Wieder- bzw. Weitergabe der Inhalte ist ohne schriftliche Genehmigung der AUDI AG ausdrücklich untersagt. TDI, quattro, Spaceframe, ASF sowie die Modellbezeichnungen sind eingetragene Marken der AUDI AG.</p>
</tab>

    <!-- Haftungsausschluss-->
    <tab heading="Datenschutz">

<h4>Datenschutz</h4>
<div>
			<p>Rund um das Thema Datenschutz</p>
	</div><h4>Richtlinien zur Datenerhebung, -verarbeitung, -übermittlung und -nutzung</h4>

			<p>Um eine korrekte und schnelle Abwicklung von Fahrzeugbestellungen, Service- und Betreuungsleistungen zu gewährleisten, bedienen sich die Audi Partner und die AUDI AG der Hilfe elektronischer Datenverarbeitung (EDV).<br/><br/>Die Verarbeitung der dem Audi Partner und der AUDI AG bekannt gegebenen Daten zu Ihrer Person wird im Wesentlichen durch das Bundesdatenschutzgesetz (BDSG) geregelt.<br/>Danach ist die Datenerhebung, -verarbeitung, -übermittlung und nutzung (nachstehend: Datenverwendung) zulässig, wenn das BDSG oder eine andere Rechtsvorschrift sie erlaubt oder wenn der Betroffene eingewilligt hat.<br/>Das BDSG erlaubt die Datenverwendung insbesondere dann, wenn dies zur Erfüllung des mit Ihnen geschlossenen Vertrages dient. Für einige Zwecke, die über das eigentliche Vertrags- und Betreuungsverhältnis hinausgehen, ist in Ihrem jeweiligen Vertrag bzw. in den Rückantwort-Elementen zu Werbeaktionen der Audi Partner und der AUDI AG eine datenschutzrechtliche Einwilligungserklärung aufgenommen worden.<br/>Wird diese Einwilligungserklärung bei Abschluss des jeweiligen Vertrages nicht unterschrieben, bzw. zu einem späteren Zeitpunkt widerrufen, verpflichten sich die Audi Partner und die AUDI AG Ihre Daten lediglich im gesetzlich zulässigen Rahmen zu verwenden.<br/><br/>Im Folgenden finden Sie nähere Informationen über die Erhebung, Speicherung, Übermittlung und Nutzung Ihrer Kundendaten:<br/><br/>1. Datenerhebung und -speicherung beim Audi Partner<br/>Der Audi Partner speichert Daten, die für die Bestellung Ihres Neufahrzeuges bzw. für Service- und Betreuungsleistungen für Kunden und Interessenten notwendig sind. Das sind zunächst Angaben in Kauf- und Serviceverträgen. Weiter werden abwicklungstechnische Daten wie Kundennummer und Kaufpreis geführt, sowie im Rahmen von Fahrzeugserviceleistungen fahrzeugspezifische Daten und erbrachte Leistungen erhoben und verarbeitet.<br/><br/>Soweit Sie eingewilligt haben, werden die notwendigen Daten durch den Audi Partner zur Durchführung der unter den Punkten 5.3 bis 5.5 dieses Merkblattes beschriebenen Kundenbetreuung, -befragung und persönlich auf Sie zugeschnittene Kundeninformationen zusätzlich erhoben und gespeichert.<br/><br/>2. Datenspeicherung bei der AUDI AG,<br/>Die AUDI AG speichert Daten, die ihr von dem Audi Partner im Rahmen von Kauf-, und Serviceverträgen, übermittelt werden.<br/><br/>Zusätzlich werden Daten von Kunden und Interessenten der AUDI AG gespeichert, die über den Internetauftritt der AUDI AG oder die zentrale Audi Kundenbetreuung Kontakt mit der AUDI AG aufnehmen.<br/>Die Datenspeicherung umfasst ebenfalls Daten, die im Rahmen von Marketingaktivitäten der AUDI AG erhoben worden sind.<br/><br/>3. Datenübermittlung zwischen dem Audi Partner und der AUDI AG<br/>Um im Falle der Geltendmachung gesetzlicher oder vertraglicher Ansprüche/Anfragen des Kunden (insbesondere Gewährleistung/Garantie) zeitnah reagieren zu können; werden die hierfür erforderlichen personenbezogenen Daten vom Audi Partner zur Prüfung und Abwicklung der Ansprüche an die AUDI AG weitergeleitet. Im Falle einer Direktabholung des Kundenfahrzeugs bei der AUDI AG werden die dafür erforderlichen Kundendaten vom Audi Partner an die AUDI AG übermittelt.<br/>Ebenso werden bei einer Teilnahme des Audi Partners an Vergütungs- und /oder Bonusprogrammen der AUDI AG die dafür erforderlichen Kundendaten vom Audi Partner an die AUDI AG übermittelt. Daneben kann die AUDI AG Vergütungs- und/ oder Bonusprogramme für definierte Sonderabnehmergruppen (z.B. Fahrschulen etc.) gewährt. In diesem Fall werden die für die Inanspruchnahme der Sonderkonditionen erforderlichen Kundendaten incl. der entsprechenden Nachweise vom Audi Partner an die AUDI AG übermittelt. Um einen aktuellen Datensatz bei dem Audi Partner und bei der AUDI AG sicherzustellen und um gegebenenfalls eine Korrektur vornehmen zu können, erfolgt ein Austausch der erhobenen Daten.<br/><br/>4. Datennutzung durch den Audi Partner<br/>Der jeweilige Audi Partner kann die von Ihnen erhobenen und gespeicherten Daten eigenverantwortlich zum Zwecke der Leistungserbringung sowie zum Zwecke der Vertragsabwicklung, Kundenbetreuung, -befragung und auf Sie persönlich zugeschnittene Kundeninformationen nutzen (vgl. hierzu Ziffern 5.1 – 5.5. dieses Merkblattes).<br/><br/>5. Datennutzung durch die AUDI AG<br/><br/>5.1. Leistungserbringung<br/>Die AUDI AG nutzt die durch den Audi Partner übermittelten Kundendaten, um eine korrekte und schnelle Erbringung von bestellten Leistungen vornehmen zu können (z.B. Neufahrzeuge).<br/><br/>5.2. Vertragsabwicklung<br/>Die AUDI AG nutzt im Anschluss an die Leistungserbringung gemäß Ziffer 5.1 dieses Merkblattes und/oder zur Erfüllung gesetzlicher und vertraglich übernommener Verpflichtungen entsprechend Ziffer 2 dieses Merkblattes die durch den Audi Partner übermittelten oder von ihr selbst erhobenen Kundendaten (z.B. im Rahmen von Gewährleistung oder Garantie). Im Rahmen einer korrekten<br/>Abwicklung von möglichen Vergütungs- und /oder Bonusprogrammen werden die übermittelten Kundendaten der Audi Partner zur Verifizierung der Anspruchsgrundlage durch die AUDI AG genutzt.<br/>Ferner kann die AUDI AG Sie bitten, an Marktforschungsuntersuchungen teilzunehmen.<br/><br/>5.3. Kundenbetreuung<br/>Die Kundendaten werden darüber hinaus im Falle Ihrer Einwilligung von der AUDI AG genutzt, um eine umfassende Kundenbetreuung für Sie sicherzustellen. Diese ist für Sie kostenlos und umfasst insbesondere folgende Leistungen:<br/><br/>    Ihnen steht die zentrale Kundenbetreuung der AUDI AG zur Verfügung. Ihre Anliegen werden dort im Rahmen der Servicezeiten von kompetenten Ansprechpartnern entgegengenommen und bearbeitet. Durch die Nutzung bereits existierender Informationen entfällt eine erneute Erhebung Ihrer Daten, damit so eine schnellere und bedürfnisgerechtere Bearbeitung Ihrer Anliegen erfolgen.<br/><br/>    Der Audi Notdienst steht Ihnen im Falle einer Panne oder eines Unfalls rund um die Uhr zur Verfügung. Die Nutzung Ihrer bereits erhobenen Daten kann in Notfällen wertvolle Zeit sparen und Ihnen somit eine unbürokratische und schnelle Hilfe verschaffen.<br/><br/>5.4. Kundenbefragung<br/>Ergebnisse aus Marktforschungsuntersuchungen bilden eine wichtige Informationsgrundlage für die laufende Verbesserung bzw. die Neuentwicklung von Produkten und Services. Ihre von dem Audi Partner übermittelten Kundendaten können daher im Falle Ihrer Einwilligung von der AUDI AG zur Durchführung von Kundenbefragungen eingesetzt werden.<br/><br/>5.5. Persönlich auf Sie zugeschnittene Kundeninformationen<br/>Im Falle persönlich auf Sie zugeschnittener Kundeninformationen werden, sofern Sie eingewilligt haben, Ihre Daten – gegebenenfalls mit anderen personenbezogenen Daten, die Sie gegenüber dem Audi Partner und/oder der AUDI AG mitgeteilt haben – in einer Datenbank zusammengeführt, gespeichert und dort automatisch ausgewertet mit dem Ziel, das sich hieraus ergebende personenbezogene Kundenprofil mit individuellen Produkt- und Dienstleistungsangeboten abzugleichen. Anschließend können Sie entsprechende persönlich auf Sie zugeschnittene Kundeninformationen (z.B. Angebote zu neuen Produkten und Services) erhalten.<br/><br/>5.6. Datenschutzrechtliche Hinweise zu den Audi connect Funktionen<br/>Die AUDI AG erhebt, verarbeitet, übermittelt und nutzt Ihre angegeben personenbezogenen Daten im Rahmen der gesetzlichen Vorgaben für die ordnungsgemäße Funktion und zur Leistungserbringung der einzelnen Audi connect Dienste. Dazu steht Ihnen, unter anderem, für die Aktivierung weiterer Audi connect Dienste und zur Datenübertragung mit ihrem Fahrzeug unsere myAudi Plattform zur Verfügung. Für die Herstellung der Verbindung zu Ihrem Fahrzeug ist ein einmaliges Registrieren erforderlich. Hierbei erhebt, verarbeitet, übermittelt und nutzt die AUDI AG Ihre dafür erforderlichen personenbezogenen Daten, soweit dies für ihre Inanspruchnahme der Dienste und zur Leistungserbringung durch die AUDI AG erforderlich ist. Eine Weitergabe Ihrer Daten an Dritte erfolgt nicht. Mit Hilfe Ihrer myAudi Plattform und unter Verwendung Ihres Kundenmobiltelefons, können Sie Daten für die Funktionen Ihrer Audi connect Dienste an Ihr Fahrzeug übermitteln und eine Übertragung bestimmter Fahrzeugdaten aus dem Fahrzeug heraus zulassen.<br/><br/>Durch Ihre Aktivierung von speziellen Informationsdiensten, die in Ihrem Audi connect Portfolio enthalten sind, können sie durch Angabe Ihrer persönlichen Identifikationsdaten (z. B. für den Zugang zu sozialen Netzwerken) diese Funktionen direkt in ihrem Fahrzeug nutzen. Dazu leiten wir Ihre angegebenen Identifikationsdaten zur Anfrage an den jeweiligen Serviceprovider weiter. Anschließend können Sie mittels eines gesicherten Verbindungskanals auf Ihre persönlichen Inhalte zugreifen. Diese Inhalte zeigen wir für Ihre Verwendung im Fahrzeug an. Ihre persönlichen Inhalte werden bei der AUDI AG nicht gespeichert. Die dafür notwendigen Verbindungsdaten werden für die Leistungserbringung und ordnungsgemäßen Funktion der Dienste gemäß den jeweils gültigen gesetzlichen Vorgaben verarbeitet und genutzt.<br/>Bei Beendigung des Nutzungsverhältnisses oder anderweitiger Löschung des Benutzerprofils in Ihrem myAudi Account werden die personenbezogenen Daten von Ihrem Fahrzeugdaten getrennt und anschließend gelöscht/gesperrt<br/><br/>6. Keine Weitergabe über den vorstehend genannten Umfang hinaus<br/>Eine Übermittlung Ihrer personenbezogenen Daten außerhalb der vorstehend genannten Stellen erfolgt nicht.<br/><br/>7. Widerruf der datenschutzrechtlichen Einwilligungserklärung<br/>Sie können Ihre datenschutzrechtliche Einwilligungserklärung (vgl. Nr.1 Abs.2, Nr. 3 und Nr.5.3 – 5.5) jederzeit widerrufen.<br/><br/>8. Auskunftsrecht<br/>Sie haben nach dem BDSG ein Recht auf Auskunft über Ihre in den Kundendatenbanken des Audi Partners und der AUDI AG gespeicherten personenbezogenen Daten.<br/><br/>Wegen dieser Auskünfte und eventueller weiterer Erläuterungen oder einem etwaigen Verlangen auf Auskunft, Berichtigung, Sperrung oder Löschung beim Audi Partner und der AUDI AG gespeicherten Daten wenden Sie sich bitte an die AUDI AG, Kundenbetreuung Deutschland, Postfach 10 04 57, 85045 Ingolstadt.<br/><br/>(Stand März 2015)<br/></p>
<h4>Ansprechpartner</h4>

			<p>Wegen eventueller weiterer Auskünfte und Erläuterungen oder einem etwaigen Verlangen auf Auskunft, Berichtigung, Sperrung oder Löschung der beim Audi Partner und bei der AUDI AG gespeicherten Daten wenden Sie sich bitte an:<br/><br/>AUDI AG<br/>Dieter Fröhlich<br/>Beauftragter für den Datenschutz<br/>85045 Ingolstadt<br/></p>
	<h4>Erfassung allgemeiner Informationen</h4>

			<p>Wenn Sie auf die Internetseiten der AUDI AG zugreifen, werden automatisch Informationen allgemeiner Natur erfasst. Diese Informationen beinhalten z.B. die Art des Webbrowsers, das verwendete Betriebssystem, den Domainnamen Ihres Internet Service Providers und ähnliches. Hierbei handelt es sich ausschließlich um Informationen, welche keine Rückschlüsse auf Ihre Person zulassen. Zudem werden diese Daten ebenso beim Zugriff auf jede andere Webseite im Internet generiert. Es handelt sich hierbei also nicht um eine spezifische Funktion der Audi Internetseiten. Informationen dieser Art werden ausschließlich anonymisiert erhoben und von uns statistisch ausgewertet. Je besser wir Ihre Wünsche verstehen, desto schneller finden Sie die gewünschte Information auf unseren Internetseiten.</p>
	<h4>Verwendung von Cookies</h4>
			<p>Cookies sind Textdateien, die Informationen enthalten, um wiederkehrende Besucher ausschließlich für die Dauer des Besuches auf unseren Internetseiten zu identifizieren. Cookies werden auf der Festplatte Ihres Computers abgespeichert und richten dort keinen Schaden an. Die Cookies unserer Internetseiten enthalten keinerlei persönliche Daten über Sie.<br/><br/>Cookies ersparen Ihnen die Mehrfacheingabe von Daten, erleichtern Ihnen die Übermittlung spezifischer Inhalte und helfen uns bei der Identifizierung besonders populärer Bereiche unseres Onlineangebots. So sind wir u.a. in der Lage, die Inhalte unserer Internetseiten genau auf Ihre Bedürfnisse abzustimmen.<br/><br/>Wenn Sie es wünschen, können Sie die Verwendung von Cookies jederzeit über die Einstellungen Ihres Browsers deaktivieren. Bitte verwenden Sie die Hilfefunktionen Ihres Internetbrowsers, um zu erfahren, wie Sie diese Einstellungen ändern können.<br/></p>
<h4>User Tracking</h4>

					<h3></h3>

				<span>
	    			Um das Angebot auf unseren Webseiten aktuell, nutzerorientiert und vollumfänglich zu halten, nutzt diese Website mit Adobe (inkl. Omniture Site Catalyst, Omniture Genesis, Omniture Discover, Omniture TagManager, Omniture SaintBernard) ein Webanalyse-Tool, das es ermöglicht, unsere Services auf Ihren Bedarf hin zu optimieren. Adobe Analytics verwendet Cookies, die Ihre Präferenzen beim Besuch auf unseren Seiten nachvollziehen können. Auf diese Weise wird beispielsweise die Navigation erleichtert – und wir können die Nutzerfreundlichkeit unserer Dienste weiter verbessern. Die dabei generierten Informationen (einschließlich der IP-Adresse) werden standardmäßig vor einer Speicherung anonymisiert, so dass ein persönlicher Bezug ausgeschlossen ist. Dazu wurde diese Webseite angepasst, um eine anonymisierte Erfassung von IP-Adressen (sog. IP-Masking) zu gewährleisten. Erst nach dieser Anonymisierung erfolgt eine Auswertung für Reportings. Die durch diese Cookies erzeugten Informationen werden in der Regel an einen Server von Adobe innerhalb der Europäischen Union übertragen. Allerdings kann nicht ausgeschlossen werden, dass im Falle eines technischen Notfalls diese Daten in die USA übertragen und dort gespeichert werden. Als Nutzer unserer Webseiten haben Sie natürlich jederzeit die Möglichkeit, die Annahme von Cookies über Ihre Browsereinstellungen zu verweigern. Standardmäßig lassen die meisten Browser das Speichern von Cookies zu. Sollten Sie diese Einstellung ändern, kann das zu funktionalen Einschränkungen in unseren Angeboten führen. Sie können dieser Erfassung - der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten - mit Wirkung auf die Zukunft - an Adobe, sowie die Verarbeitung dieser Daten durch Adobe jederzeit  widersprechen, indem Sie ein dafür generiertes OPT OUT Cookie setzen.<br/><br/>Dazu klicken Sie bitte auf folgenden Link:
			        <span>

        	<a href="http://www.adobe.com/de/privacy/opt-out.html" target="_blank">Adobe SiteCatalyst</a>
    </span>
				</span>
					<h3></h3>

				<span>
	    			{Track:js}<br/>Um Ihnen einen sicheren und störungsfreien Zugriff auf unsere Webseiten zu ermöglichen, verwenden wir das Tool "Track.js". Damit können wir bei möglichen Störungsfällen (z.B. bei Modell- Versionswechsel unserer Seiten oder einem  verzögerten Ladeverhalten von einzelnen Seiten/Inhalten) fortlaufend die Kompatibilität von unseren Webinhalten (Content) mit Ihrem Betriebssystem/Browserversion analysieren und verbessern. Dabei werden keinerlei personenbezogener Daten von Ihnen (auch keine IP Adresse) erhoben, verarbeitet oder genutzt. Für die Analyse werden lediglich technische Informationen von ihrem Browser (Art und Version), ihr verwendetes Betriebssystem (Art und Version) mit dem aktuellen Zeitstempel verwendet. Dazu werden die letzten Zustände vor einer Störung an einen cloudbasierten zentralen Server von Track.js übermittelt und dort zur weiteren Analyse verarbeitet und genutzt.<br/><br/><br/>GroupM <br/>Ergänzend dazu setzen wir eine Software der Firma GroupM Germany GmbH, Derendorfer Allee 10, 40476 Düsseldorf auf unseren Webseiten ein. Hierbei werden anonyme Daten über Ihre Besuche auf unseren Web Seiten gesammelt (z.B: Browser, Zeitangaben, verwendete Hard-Software, Einstellungen etc. ) um unseren Service für eine zielgruppenoptimierte Kundeninformation an Sie zu optimieren. Weitere Hinweise dieses „Services“ finden Sie in den Datenschutz Bestimmungen von GroupM unter http://www.groupm.com/privacy-policy<br/><br/>Wenn Sie nicht wünschen, dass über Ihren Besuch anonyme Daten gesammelt werden, verwenden Sie bitte folgenden Cookie Opt-out Link unter http://www.groupm.com/privacy-policy und folgenden den Anweisungen unter Cookie Opt-out auf den Seiten von groupm, um die Sammlung Ihrer künftigen Aktivitäten auf unserer Webseite zu verhindern. Wenn Ihr Browser so eingestellt ist, dass er Cookies ablehnt, kann dieser Opt-out Cookie nicht gesetzt werden. Wenn Sie diesen Opt-out Cookie löschen, ein anderes Endgerät oder einen anderen Browser verwenden, müssen Sie diesen Opt-out Link erneut aufrufen, um den Opt-out Cookie wieder neu zu setzen. Diese Cookie-Informationen werden bis zu 13 Monate genutzt.<br/><br/>Psyma<br/>Beim Besuch unserer Webseiten können Sie von Zeit zu Zeit ausgewählt werden an einer anonymen Online Umfrage für Marktforschungszwecken teilzunehmen. Durch aktives Klicken auf den Ihnen angezeigten Link, gelangen Sie direkt zum Online-Fragebogen. Wenn Sie nicht teilnehmen möchten, setzen wir dafür einen Opt-out Cookie auf Ihrem Client ein, um Sie nicht erneut auszuwählen. Diese Cookie-Informationen werden während der laufenden Umfrage ca. 30 Tage genutzt. Weitere Datenschutzrechtlichen Hinweise zu Psyma erhalten Sie unter  http://www.psyma.com/en/automotive/
				</span>
			<p>Folgen Sie den o.g. Links, um jeweils einen OPT OUT Cookie zu setzen. Ihr Browser muss also so konfiguriert sein, dass Cookies akzeptiert werden, damit Ihre Einstellungen wirksam werden. Wenn Sie Ihre Cookies löschen oder deaktivieren oder einen anderen Webbrowser verwenden, müssen Sie die Einstellungen erneut vornehmen.<br/><br/>(Stand 01.09.2015)</p>
	<h4>Informationen zu nutzungsbasierter Online-Werbung</h4>
			<p>Nutzungsbasierte Online-Werbung, auch Targeting genannt, ermöglicht es werbetreibenden Unternehmen den Nutzer bei der Werbeauslieferung zu identifizieren und einer Zielgruppe zuzuweisen. Mit Hilfe dieser Information ist es möglich dem Nutzer relevantere Werbeanzeigen anzuzeigen.<br/><br/>Hierfür werden auf unserer Website mithilfe von nugg.ad (nugg.ad AG predictive behavioral targeting, Rotherstr. 16,10245 Berlin) und AdAudience GmbH (Schwanthalerstraße 99, 80336 München mittels der Technologie von ADITION technologies AG, Am Gatherhof 44, 40472 Düsseldorf) Daten in anonymisierter Form gesammelt und gespeichert.  Bei Ihrem Besuch auf unserer Webseite wird ein Cookie auf ihrem Rechner gespeichert. Erfasst werden dabei Informationen über Ihre Aktivitäten auf den von Ihnen besuchten Websites (z.B. Surfverhalten, besuchte Unterseiten der Internet-Angebote, geklickte Werbebanner etc.). Aus diesen Daten werden Nutzungsprofile erstellt, die keinen Rückschluss auf Ihre Person und damit keine persönliche Identifikation zulassen.<br/><br/>Je nach Ihren Interessen wird bei Ihren Besuchen auf Webseiten von weiteren Anbietern eine gezielte Auslieferung von für Sie relevanten Werbeanzeigen ermöglicht.<br/><br/>Nutzung der Cookie-Information für Retargeting<br/><br/>Der Cookie mit den entsprechenden Informationen erlaubt auch die anonyme Wiedererkennung ihres Browsers und eine entsprechende Wiederansprache auf externen Websites, das sogenannte Retargeting.<br/><br/>Weiterführende Informationen zur der hier verwendeten Technologie und zum Datenschutz finden Sie unter den folgenden Links:<br/>• http://nugg.ad/de/datenschutz/allgemeine-informationen.html<br/>• http://adaudience.de/Datenschutz<br/><br/>Sie können die Verwendung von Cookies durch nugg.ad  deaktivieren, indem sie die Seite zur ad-choices.nuggad.net aufrufen.<br/>Der Datensammlung und –speicherung durch AdAudience können Sie jederzeit mit Wirkung für die Zukunft unter nachstehendem Link widersprechen:<br/>• http://www.adition.com/kontakt/datenschutz<br/><br/>Alternativ können Nutzer die Verwendung von Cookies durch Drittanbieter deaktivieren, indem sie die http://www.youronlinechoices.com/de/ aufrufen.<br/><br/>Wenn Sie es wünschen, können Sie die Verwendung von Cookies jederzeit über die Einstellungen Ihres Browsers deaktivieren. Bitte verwenden Sie die Hilfefunktionen Ihres Browserfensters, um zu erfahren, wie Sie diese Einstellungen ändern können.</p>
	<h4>Verwendung von Facebook Social Plugins</h4>

			<p>Die AUDI AG verwendet innerhalb Ihres Internetauftritts sogenannte Social Plugins (“Plugins”) des sozialen Netzwerkes facebook.com, welches von der Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA betrieben wird (“Facebook”). Die Plugins sind mit einem Facebook Logo oder dem Zusatz “Facebook Social Plugin” gekennzeichnet.<br/><br/>Wenn Sie eine Webseite der AUDI AG aufrufen, die ein solches Plugin enthält, baut Ihr Browser eine direkte Verbindung mit den Servern von Facebook auf. Der Inhalt des Plugins wird von Facebook direkt an Ihren Browser übermittelt und von diesem in die Webseite eingebunden.<br/><br/>Durch die Einbindung der Plugins erhält Facebook die Information, dass Sie die entsprechende Seite des Internetauftritts der AUDI AG aufgerufen haben. Sind Sie bei Facebook eingeloggt kann Facebook den Besuch Ihrem Facebook-Konto zuordnen. Wenn Sie mit den Plugins interagieren, zum Beispiel den “Gefällt mir” Button betätigen oder einen Kommentar abgeben, wird die entsprechende Information von Ihrem Browser direkt an Facebook übermittelt und dort gespeichert.<br/><br/>Zweck und Umfang der Datenerhebung und die weitere Verarbeitung und Nutzung der Daten durch Facebook sowie Ihre diesbezüglichen Rechte und Einstellungsmöglichkeiten zum Schutz Ihrer Privatsphäre entnehmen Sie bitte den Datenschutzhinweisen von Facebook.<br/><br/>Wenn Sie nicht möchten, dass Facebook über den Internetauftritt der AUDI AG Daten über Sie sammelt, müssen Sie sich vor Ihrem Besuch einer Website der AUDI AG bei Facebook ausloggen.<br/></p>
<h4>Sicherheit</h4>

			<p>Die AUDI AG setzt technische und organisatorische Sicherheitsmaßnahmen ein, um Ihre uns zur Verfügung gestellten personenbezogenen Daten durch zufällige oder vorsätzliche Manipulation, Verlust, Zerstörung oder den Zugriff unberechtigter Personen zu schützen. Unsere Sicherheitsmaßnahmen werden entsprechend dem Stand der Technik fortlaufend verbessert und angepasst.</p>
	<h4>Öffentliches Verzeichnisverfahren (§4g und §4e BDSG)</h4>
			<p>Der Beauftragte für den Datenschutz stellt hiermit jedermann die geforderten gesetzlichen Angaben zur Verfügung.<br/><br/>Name der verantwortlichen Stelle: AUDI AG<br/><br/>Vorstand:<br/>Rupert Stadler (Vorsitzender des Vorstandes)<br/>Luca de Meo<br/>Ulrich Hackenberg<br/>Bernd Martens<br/>Thomas Sigi<br/>Axel Strotbek<br/>Hubert Waltl<br/><br/><br/>Beauftragter Leiter der Datenverarbeitung:<br/>Mattias Ulbrich<br/><br/>Anschrift der verantwortlichen Stelle:<br/>AUDI AG<br/>85045 Ingolstadt<br/><br/>Zweckbestimmung der Datenerhebung, -verarbeitung, -nutzung oder -übermittlung:<br/><br/>Gegenstand des Unternehmens ist die Entwicklung, Herstellung und der Vertrieb von Kraftfahrzeugen sowie Fahrzeugen und Motoren aller Art, deren Zubehör sowie aller Maschinen, Werkzeuge und sonstiger technischen Artikel. (Auszug aus § 2 der Satzung der AUDI AG)<br/><br/>Beschreibung der betroffenen Personengruppe und der diesbezüglichen Daten oder Datenkategorien:<br/><br/>Kundendaten, Mitarbeiterdaten und erforderliche Daten von Partnerfirmen zur Erfüllung der Zweckbestimmung.<br/><br/>Empfänger oder Kategorien von Empfängern, denen die Daten mitgeteilt werden können:<br/><br/>Öffentliche Stellen im Rahmen einer vorrangigen Rechtsvorschrift Auftragnehmer im Rahmen eines Partnerverhältnisses nach § 11 BDSG Gesellschaften und Handelsorganisationen des Audi Konzerns eigene interne Organisationseinheiten für die Erfüllung der Zweckbestimmung.<br/><br/>Regelfristen für die Löschung der Daten:<br/><br/>Aufgrund gesetzlicher Bestimmungen gelten vielfältige Aufbewahrungspflichten und -fristen. Nach Ablauf dieser Fristen werden die entsprechenden Daten routinemäßig gelöscht.<br/><br/>AUDI AG<br/>Beauftragter für den Datenschutz<br/><br/>Stand April 2014<br/></p>

</tab>

    <!-- Haftungsausschluss-->
    <tab heading="Preisangaben">

<h4>Preisangaben</h4>
			<p>Die angegebenen Preise sind unverbindliche Preisempfehlungen des Herstellers, zzgl. Überführungs- und Zulassungskosten bzw. Montage und Materialkosten.</p>

</tab>

    <!-- Haftungsausschluss-->
    <tab heading="Social Media">


<h4>Social Media Netiquette</h4>
			<p>"Vorsprung durch Technik" beginnt gemeinsam mit unseren Fans. Deswegen heißen wir Sie auf unseren Social Media Seiten herzlich willkommen und freuen uns auf Inspiration und Dialog. Um dort einen höflichen Umgangston gewähren zu können, bitten wir Sie, unsere Regeln der Netiquette zu beachten.<br/><br/>Erzählen Sie uns Ihre Geschichten oder laden Sie Ihre Fotos und Videos hoch. Wir begrüßen einen regen Austausch mit- und untereinander, bitten Sie jedoch – auch in Ihrem Interesse – fair und respektvoll zu bleiben. Aus diesem Grund behalten wir uns das Recht vor, alle Beiträge, die wir als werbend, unangebracht, anstößig oder beleidigend empfinden sowie Beiträge, die einen unverantwortlichen Umgang mit Audi Produkten darstellen oder die inhaltlich keinen Bezug zu unseren Seiten haben, zu entfernen.<br/><br/>Bitte stellen Sie sicher, dass Sie keine unautorisierten, unzulässigen oder rechtswidrigen Inhalte auf unseren Seiten veröffentlichen. Die AUDI AG übernimmt keine Verantwortung oder Haftung für Inhalte, die von Nutzern eingestellt werden.<br/><br/>Unsere Seiten sind öffentlich und für jeden Nutzer sichtbar. Daher bitten wir Sie, keine Daten, die Rückschlüsse auf Ihre Person zulassen (z.B. Telefonnummer, Kontoverbindung, Kfz-Kennzeichen oder Fahrgestellnummer o.ä.) auf unseren Seiten zu veröffentlichen. Ihre Privatsphäre ist uns wichtig, deswegen behalten wir uns eine Löschung der jeweiligen Beiträge vor.</p>


</tab>
</tabset>
