<h4>AUDI AG</h4>
<p>Postanschrift<br/>AUDI AG<br/>85045 Ingolstadt<br/><br/>Telefon<br/>+49 (0)841 89-0<br/><br/>Telefax<br/>+49 (0)841 89-32524<br/><br/>E-Mail<br/>kundenbetreuung@audi.de<br/><br/>Die AUDI AG ist eine Aktiengesellschaft deutschen Rechts mit Hauptsitz in Ingolstadt.<br/><br/>Vorsitzender des Aufsichtsrats:<br/>Martin Winterkorn<br/><br/>Vorstand:<br/>Rupert Stadler (Vorsitzender des Vorstands)<br/>Luca de Meo<br/>Ulrich Hackenberg<br/>Bernd Martens<br/>Thomas Sigi<br/>Axel Strotbek<br/>Hubert Waltl<br/><br/>Die AUDI AG ist im Handelsregister des Amtsgerichts Ingolstadt unter der Nummer HR B 1 eingetragen.<br/><br/>Die Umsatzsteueridentifikationsnummer der AUDI AG ist DE811115368.</p>
