<navigation fade="false"></navigation>

<div class="spacer100"></div>

<div class="container">
  <div class="col-md-12">

    <div class="row">

      <div class="col-lg-6">
        <h2>Artikel Verwalten</h2>
        <div class="spacer10"></div>

         <span>
           <a href="#" class="text-lg">Alle Artikel <span class="badge">{{ articles.length }}</span></a>&nbsp;
           <a href="#" class="text-lg mar-left">Freigegeben Artikel <span class="badge">{{ articles | countapprovedarticles:true }}</span></a>
           <a href="#" class="text-lg mar-left">Vorbereitete Artikel <span class="badge">{{ articles | countapprovedarticles:false }}</span></a>
         </span>
          <div class="spacer20"></div>
      </div>
      <div class="col-lg-6 text-right">
        <div class="spacer25"></div>
        <div class="row">
          <div class="col-lg-6">
            <input type="text" class="form-control" id="exampleInputName2" placeholder="Suche">
          </div>
          <div class="col-lg-6">
            <div class="spacer5"></div>
            <button type="submit" class="btn btn-primary" ng-click="newArticle()"><i class="fa fa-plus"></i> Artikel Anlegen</button></div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-lg-12">

        <table class="table table-striped">
          <thead>
          <tr>
            <th class="tablesorter--sortable" ng-click="tablesorterChangeField('title')">Titel <i class="fa" ng-show="tablesorterOrderByField == 'title'" ng-class="{'fa-caret-down':tablesorterReverseSort,'fa-caret-up':!tablesorterReverseSort}"></i></th>
            <th class="tablesorter--sortable" ng-click="tablesorterChangeField('marke.name')">Marke <i class="fa" ng-show="tablesorterOrderByField == 'marke.name'" ng-class="{'fa-caret-down':tablesorterReverseSort,'fa-caret-up':!tablesorterReverseSort}"></i></th>
            <th class="tablesorter--sortable" ng-click="tablesorterChangeField('modifiedAt')">Zuletzt geändert <i class="fa" ng-show="tablesorterOrderByField == 'modifiedAt'" ng-class="{'fa-caret-down':tablesorterReverseSort,'fa-caret-up':!tablesorterReverseSort}"></i></th>
            <th></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="article in articles | orderBy:tablesorterOrderByField:tablesorterReverseSort">
            <td class="admin_article_list_title">{{article.title}}</td>
            <td class="admin_article_list_marke">{{article.marke.name}}</td>
            <td class="admin_article_list_modified" ng-if="article.modifiedBy.name">{{article.modifiedBy.name}}, {{article.modifiedAt | date: 'dd.MM.yyyy HH:mm'}}</td>
            <td class="admin_article_list_user" ng-if="!article.modifiedBy.name">{{article.createdBy.name}}, {{article.createdAt | date: 'dd.MM.yyyy HH:mm'}}</td>
            <td class="admin_article_list_dummy"></td>
            <td class="admin_article_list_control pull-right">
              <a href="#" class="btn btn-primary" ng-click="previewArticle(article)" title="Vorschau">
                <i class="fa fa-eye"></i>
              </a>

              <a href="#" class="btn btn-default" ng-click="editArticle(article)">
                Bearbeiten
              </a>
              <input
                bs-switch
                ng-model="article.active"
                ng-change="toggleActiveState(article)"
                type="checkbox"
                switch-active="true"
                switch-size="small"
                switch-on-color="success"
                switch-off-color="default">
            </td>
          </tr>
          </tbody>
        </table>
        <ul class="pagination">
          <li>
            <a href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </div>

    </div>

  </div>


</div>


<div ng-include="'components/footer/footer.html'"></div>
<div ng-include="'components/navbar/navbar.html'"></div>
