td.admin_article_list_control {
  min-width: 310px !important;
}

td.admin_article_list_user {
  min-width: 220px !important;
}

td.admin_article_list_title {
  min-width: 250px !important;
}

td.admin_article_list_marke {
  min-width: 140px !important;
}
