<tabset justified="true">

    <!-- ANBIETERKENNZEICHNUNG-->
    <tab heading="Anbieterkennzeichnung">
        <div class="spacer20"></div>
        <h2 class="unselectable mar-btm">Anbieterkennzeichnung</h2>
        <p>Transparenz und offene Kommunikation sind innerhalb und außerhalb der Volkswagen AG für uns selbstverständlich. Wichtige Informationen über die Volkswagen AG und wie Sie einfach Kontakt zur Volkswagen AG aufnehmen können, finden Sie hier.</p>
        <p>Die VOLKSWAGEN AG ist eine Aktiengesellschaft deutschen Rechts mit Hauptsitz in Wolfsburg.</p>
        <p> </p>
        <p>
            Vorsitzender des Vorstands:
            <br>
            Matthias Müller
            <br>
        </p>
        <p>
            Vorstand:
            <br>
            Herbert Diess
            <br>
            Francisco J. Garcia Sanz
            <br>
            Jochem Heizmann
            <br>
            Horst Neumann
            <br>
            Hans Dieter Pötsch
            <br>
            Andreas Renschler
            <br>
            Rupert Stadler
        </p>
        <p> </p>
        <p>
            Postanschrift: Berliner Ring 2, 38440 Wolfsburg
            <br>
            Tel.: +49-5361-9-0
            <br>
            Fax: +49-5361-9-28282
            <br>
        </p>
        <p>
            Kundenbetreuung:
            <br>
            E-Mail: kundenbetreuung@volkswagen.de
            <br>
            Tel.: +49 800 – 86 55 79 24 36
        </p>
        <p>
            Die VOLKSWAGEN AG ist im Handelsregister des Amtsgerichts Braunschweig unter der Nr. HRB 100484 eingetragen.
            <br>
        </p>
        <p>
            <br>
            Die Umsatzsteueridentifikationsnummer der VOLKSWAGEN AG ist DE 115235681.
        </p>

    </tab>

    <!-- NUTZUNGSBEDINUNGEN-->
    <tab heading="Nutzungsbedingungen">
        <div class="spacer20"></div>
        <h2 class="unselectable mar-btm">Allgemeine Nutzungsbedingungen</h2>
        <p>
            Die Volkswagen AG erbringt die angebotenen Informationsservices der personalisierten Dienste auf der Grundlage von Nutzungsbedingungen. Informieren Sie sich einfach per Klick auf einen Link über die Nutzungsbedingungen des jeweiligen Dienstes:
            <br>
        </p>

        <p>Informationen, die Sie auf diesen Webseiten vorfinden, hat die Volkswagen AG sorgfältig zusammengestellt und stehen Ihnen mit einer jahresdurchschnittlichen mittleren Verfügbarkeit von 97,5 % zur Verfügung.</p>
        <p>Die auf diesen Webseiten vorgehaltenen Inhalte dienen lediglich zu Informationszwecken und sind rechtlich unverbindlich, soweit sie nicht den Vorgaben der Energieverbrauchskennzeichnungsverordnung (Angaben über den Kraftstoffverbrauch und die CO2-Emmissionen) unterliegen. Auf diesen Seiten aufgeführte Fahrzeuge, beispielsweise im Fahrzeug-Konfigurator, sind teilweise mit Sonderausstattungen gegen Mehrpreis ausgerüstet. Die Angaben über Lieferumfang, Aussehen, Preis, Leistung, Maße und Gewicht der Fahrzeuge entsprechen den zum Zeitpunkt der Dateneingabe vorhandenen Kenntnissen. Insoweit sind Änderungen ausdrücklich vorbehalten. Alle Angaben zu Ausstattungen, Preisen und technischen Daten basieren auf den Merkmalen des deutschen Marktes.</p>
        <p>Ein Teil der mit diesen Services angebotenen Informationen gibt die Überzeugung des Volkswagen Managements wieder. Soweit es sich bei diesen Informationen um in die Zukunft gerichtete Aussagen handelt, wird dies in der Regel durch die Verwendung von "erwarten", "planen", "beabsichtigen" oder anderen Begriffen erkennbar gemacht. Da zukünftige Entwicklungen unterschiedlichen und häufig nicht voraussehbaren Faktoren unterliegen, kann für die Richtigkeit in die Zukunft gerichteter Aussagen keine Gewähr übernommen werden. Eine Aktualisierung dieser Aussagen wird das Management nach eigenem Ermessen vornehmen. Die zum Abruf bereit gehaltenen und angezeigten Börsen- und Wirtschaftsinformationen, Kurse, Indices, Preise, Nachrichten, allgemeinen Marktdaten etc. sind ausschließlich zur Information der Besucher der Volkswagen Internetseiten gedacht und stellen keine Anlageberatung oder sonstige Empfehlung dar. Soweit die Webseiten Analysten-Empfehlungen enthalten, übernimmt die Volkswagen AG keinerlei Gewährleistung, insbesondere auch nicht für die Richtigkeit und Vollständigkeit der diesen Empfehlungen zu Grunde liegenden Annahmen und Schlussfolgerungen.</p>
        <p>Bitte prüfen Sie die Informationen, bevor Sie diese in welcher Art auch immer verwenden. Verbindliche Aussagen können nur auf konkrete Anfragen hin abgegeben werden. </p>
        <h3>2. Besondere Informationsservices</h3>
        <p>Bitte beachten Sie, dass einige der durch besondere Portale errichteten Informations- und Kommunikationsservices auf den Webseiten der Volkswagen AG zusätzlich den Nutzungsbedingungen des jeweiligen Portals unterliegen.</p>
        <h3>3. Services von Partnern</h3>
        <p>Einige der Informationsservices werden von unseren Partnern erbracht. Bitte beachten Sie, das für diese Services die Geschäftsbedingungen unserer Partner gelten und mit der Aufnahme derer Webseiten auf die Webseiten der Volkswagen AG keine Empfehlung oder Garantie verbunden ist. Für diese Inhalte ist die Volkswagen AG nicht verantwortlich. Bei diesen Anbietern handelt es sich nicht um Erfüllungsgehilfen der Volkswagen AG.</p>
        <h3>4. Links zu Seiten Dritter</h3>
        <p>Die Webseiten der Volkswagen AG enthalten Links zu Webseiten, die von Dritten betrieben werden. Die Volkswagen AG macht sich die durch Links erreichbaren Seiten Dritter nicht zu eigen und ist für deren Inhalte nicht verantwortlich.</p>
        <h3>5. Zulässige Nutzung der Services</h3>
        <p>Bei der Nutzung durch Sie sind Urheber-, Namens- und Markenrechte sowie sonstige Schutzrechte Dritter zu beachten. Geschützt sind zum Beispiel die gesamten Webseiten der Volkswagen AG inklusive präsentierter Bilder, Musik und Marken wie "Volkswagen" und "Golf". Dies gilt auch für Schutzrechte unserer Konzerngesellschaften. Diese Webseiten sowie diese Nutzungsbedingungen sind nicht so zu verstehen, dass eine Lizenz oder ein sonstiges Recht an Schutzrechten der Volkswagen AG gewährt würde. Sie verpflichten sich, jede missbräuchliche Nutzung der Services zu unterlassen, insbesondere</p>

        <h3>6. Einwilligung in die Setzung von Cookies</h3>
        <p>Die Volkswagen AG setzt bei Ihrem Besuch auf unseren Webseiten Cookies. Sie können den Einsatz und den Umfang von Cookies durch Ihre Computereinstellung selbst bestimmen (für gewöhnlich im Internet-Browser, z.B. Internet Explorer, weitere Infos dazu im Bereich Technische Anforderungen).</p>
        <p>Die Volkswagen AG geht davon aus, dass Sie mit der Setzung von Cookies einverstanden sind, wenn Ihr Browser dies zulässt. Hinsichtlich des Datenschutzes sehen Sie sich bitte unsere Datenschutzerklärung an.</p>
        <h3>7. Links auf die Seiten der Volkswagen AG</h3>


        <p>Davon abweichende Links bedürfen vor deren Setzung der Einwilligung der Volkswagen AG. Die Volkswagen AG behält sich das Recht vor, trotz Einhaltung der vorstehenden Verpflichtung das Setzen von Links zu untersagen.</p>
        <h3>8. Haftung</h3>
        <p>Die Volkswagen AG haftet für Vorsatz, grobe Fahrlässigkeit, nach dem Produkthaftungsgesetz und für von der Volkswagen AG ausdrücklich gewährte Garantien. Für leichte Fahrlässigkeit haftet die Volkswagen AG nur bei Verletzung einer wesentlichen Pflicht, wobei die Höhe dieser Ersatzansprüche summenmäßig begrenzt ist auf die vorhersehbaren Schäden.</p>
        <h3>9. Sicherheit bei der Sendung von Nachrichten an die Volkswagen AG</h3>
        <p>Sollten Sie eine E-Mail über Ihren privaten E-Mail-Account an die Volkswagen AG senden wollen, so sollten Sie beachten, dass Sie auf Grund der technischen Struktur des Internets zur Gewährleistung der Vertraulichkeit und Integrität der E-Mail-Inhalte eigene Vorkehrungen treffen müssen. Hierzu können Sie sich z.B. marktüblicher Verschlüsselungssoftware bedienen.</p>
        <p>Sollten Sie eine E-Mail direkt aus dem Kontaktbereich der Volkswagen AG senden wollen, so sollten Sie beachten, dass diese Daten unverschlüsselt übertragen werden und somit keine Gewährleistung der Vertraulichkeit und Integrität der E-Mail-Inhalte übernommen werden kann.</p>
        <h3>10. Änderung des Leistungsumfangs und der Nutzungsbedingungen</h3>
        <p>Die Volkswagen AG behält sich vor, den Service oder einen Teil davon jederzeit zu erweitern, zu kürzen oder Funktionalitäten zu ändern. Die schnelle Entwicklung des Internet macht es erforderlich, dass wir von Zeit zu Zeit Anpassungen dieser Nutzungsbedingungen vornehmen. Bitte beachten Sie diesbezüglich die jeweils aktuelle Version der Nutzungsbedingungen.</p>
        <h3>11. Rechtswahl</h3>
        <p>Auf die Nutzung von Services sowie auf diese Nutzungsbedingungen findet deutsches Recht mit Ausnahme seiner kollisionsrechtlichen Bestimmungen Anwendung.</p>
        <p>Sollten Sie Probleme mit oder Fragen zu den Seiten der Volkswagen AG haben, klicken Sie bitte hier. Und nun viel Spaß bei der Nutzung der Services.</p>


    </tab>

    <!-- DATENSCHUTZ-->
    <tab heading="Datenschutz">
        <div class="spacer20"></div>
        <h2 class="unselectable mar-btm">Datenschutzerklärung</h2>

        <p>Der Schutz Ihrer Privatsphäre bei der Nutzung unserer Webseiten ist uns besonders wichtig. Deshalb informieren wir Sie im Folgenden gründlich über die Erhebung anonymer und personenbezogener Daten.</p>
        <h4>Anonyme Datenerhebung</h4>
        <p>Sie können die Webseiten der Volkswagen AG grundsätzlich besuchen, ohne uns mitzuteilen, wer Sie sind. Wir erfahren nur den Namen Ihres Internet Service Providers, die Webseite, von der aus Sie uns besuchen, und die Webseiten, die Sie bei uns besuchen. Diese Informationen werden zu statistischen Zwecken ausgewertet. Sie bleiben als einzelner Nutzer hierbei anonym.</p>
        <h4>Erhebung und Verarbeitung personenbezogener Daten</h4>
        <p>
            <a href="http://www.volkswagen.de/de/tools/navigation/footer/rechtliches/datenschutz/haeufige_fragen_zumdatenschutz.html">Personenbezogene Daten</a>
            werden nur erhoben, wenn Sie uns diese von sich aus, zum Beispiel zur Durchführung eines Vertrages, einer Umfrage oder bei der Registrierung für
            <a href="http://www.volkswagen.de/de/tools/navigation/footer/rechtliches/datenschutz/haeufige_fragen_zumdatenschutz.html">personalisierte Dienste</a>
            mitteilen.
        </p>
        <p>
            Im Rahmen der
            <a href="http://www.volkswagen.de/de/tools/navigation/footer/rechtliches/datenschutz/haeufige_fragen_zumdatenschutz.html">personalisierten Dienste von Volkswagen</a>
            , werden Ihre Registrierungsdaten unter der Voraussetzung Ihrer Einwilligung zum Zwecke von Werbung und Marktforschung sowie zur bedarfsgerechten Gestaltung elektronischer Dienste verarbeitet. Ferner werden im Falle Ihrer Einwilligung die von Ihnen beim Besuch der
            <a href="http://www.volkswagen.de/de/tools/navigation/footer/rechtliches/datenschutz/haeufige_fragen_zumdatenschutz.html">Volkswagen Portale</a>
            aufgerufenen Informationen zu einem
            <a href="http://www.volkswagen.de/de/tools/navigation/footer/rechtliches/datenschutz/haeufige_fragen_zumdatenschutz.html">Nutzerprofil</a>
            zusammengefügt, um Ihnen
            <a href="http://www.volkswagen.de/de/tools/navigation/footer/rechtliches/datenschutz/haeufige_fragen_zumdatenschutz.html">persönlich auf Sie zugeschnittene Werbung</a>
            anbieten zu können.
        </p>
        <p>
            Diese Daten werden in
            <a href="http://www.volkswagen.de/de/tools/navigation/footer/rechtliches/datenschutz/haeufige_fragen_zumdatenschutz.html">verschlüsselter Form</a>
            übertragen, um einem Missbrauch der Daten durch Dritte entgegenzuwirken. Ihre Daten werden innerhalb der Bundesrepublik Deutschland verarbeitet.
        </p>
        <h4>Nutzung und Weitergabe personenbezogener Daten</h4>
        <p>
            Die im Rahmen der Webseiten der Volkswagen AG erhobenen personenbezogenen Daten werden ohne Ihre Einwilligung nur zur Vertragsabwicklung und Bearbeitung Ihrer Anfragen genutzt. Darüber hinaus erfolgt eine Nutzung Ihrer Daten für
            <a href="http://www.volkswagen.de/de/tools/navigation/footer/rechtliches/datenschutz/haeufige_fragen_zumdatenschutz.html">Zwecke der Werbung und Marktforschung</a>
            sowie zur bedarfsgerechten Gestaltung der elektronischen Dienste der Volkswagen AG nur, wenn Sie hierzu zuvor Ihre Einwilligung erteilt haben. Die Nutzung Ihrer Daten für persönlich auf Sie
            <a href="http://www.volkswagen.de/de/tools/navigation/footer/rechtliches/datenschutz/haeufige_fragen_zumdatenschutz.html">zugeschnittene Werbung</a>
            erfolgt ebenfalls nur im Falle Ihrer Einwilligung.
        </p>
        <p>
        <h4>Nutzungsbasierte Online-Werbung</h4>
        </p>
        <p>Nutzungsbasierte Online-Werbung, auch Targeting genannt, ermöglicht es werbetreibenden Unternehmen, den Nutzer bei der Werbeauslieferung zu identifizieren und einer Zielgruppe zuzuweisen. Mit Hilfe dieser Informationen ist es möglich, dem Nutzer relevantere Werbeanzeigen anzuzeigen. Bei Ihrem Besuch auf unserer Webseite wird ein Cookie auf Ihrem Rechner gespeichert. Erfasst werden dabei Informationen über Ihre Aktivitäten auf den von Ihnen besuchten Websites (z. B. Surfverhalten, besuchte Unterseiten der Internet-Angebote, geklickte Werbebanner etc.). Aus diesen Daten werden unter einem Pseudonym Nutzungsprofile erstellt, die keinen Rückschluss auf Ihre Person und damit keine persönliche Identifikation zulassen.</p>
        <p>Je nach Ihren Interessen wird bei Ihren Besuchen auf Webseiten von weiteren Anbietern eine gezielte Auslieferung von für Sie relevanten Werbeanzeigen ermöglicht. </p>
        <p>
            Da die Einwilligung in die Nutzung Ihrer Daten in die vorgenannten Zwecke auch die Übermittlung Ihrer Daten an die Gesellschaften des Volkswagen Konzerns und an die von Ihnen ausgewählten Volkswagen Partner (Händler und Werkstätten) umfassen kann, können Ihre Daten auch an diese Stellen weitergegeben werden. Im Übrigen findet keine Weitergabe an sonstige Dritte statt.
            <br>
            Ihre jeweilige Einwilligung können Sie selbstverständlich jederzeit mit Wirkung für die Zukunft widerrufen.
        </p>
        <p>Wenn Sie weitere Fragen zum Thema "Datenschutz bei Volkswagen" haben, erhalten Sie entsprechende Antworten hierauf in unseren FAQ (Liste von häufig gestellten Fragen nebst Antworten). Darüber hinaus können Sie Auskünfte zu Ihren Daten und gerne auch Anregungen jederzeit per E-Mail an die Volkswagen Kundenbetreuung unter folgender E-Mail-Adresse senden:</p>
        <p>
            <a href="mailto:info-datenschutz@volkswagen.de">info-datenschutz@volkswagen.de</a>
        </p>


    </tab>
</tabset>