<footer>

  <!-- BOTTOM LINKS -->
  <div class="bottomLinks">
    <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-6">
            <ul class="list-unstyled">
              <!--
              <li class="cursor-default">&copy; 2015 Audi AG<li>
              -->
              <li class="cursor-default" ng-bind-html="SETTINGS.footer.copyright"><li>
              <li ng-if="!SETTINGS.imprint.linkTargetUrl"><a ng-href="/impressum#top">{{SETTINGS.imprint.title}}</a></li>
              <li ng-if="SETTINGS.imprint.linkTargetUrl"><a ng-href="{{SETTINGS.imprint.linkTargetUrl}}">{{SETTINGS.legal.title}}</a></li>
              <li ng-if="!SETTINGS.legal.linkTargetUrl"><a ng-href="/datenschutz#top">{{SETTINGS.legal.title}}</a></li>
              <li ng-if="SETTINGS.legal.linkTargetUrl"><a ng-href="{{SETTINGS.legal.linkTargetUrl}}">{{SETTINGS.legal.title}}</a></li>
            </ul>
          </div>
      </div>
    </div>

  </div>

  <!-- BRAND LOGO -->
    <div class="container-fluid brandlogo_container" ng-class="{audi_bg_gardient : (SETTINGS.marke == 'audi')}">
        <div class="container">
            <div class="brand {{SETTINGS.footer.logoAdditionalClasses}}" ng-if="SETTINGS.footer.showLogo && SETTINGS.footer.logoUrl">
                <img src="{{SETTINGS.footer.logoUrl}}" width="216px">
            </div>
        </div>
    </div>

  <!-- END BRAND LOGO -->
  <!-- END BOTTOM LINKS -->



</footer>
