<navigation fade="false"></navigation>

<div class="spacer100"></div>

<div class="container">

    <h2>Links verwalten</h2>

    <div class="spacer30"></div>
    <div class="row">
        <div class="col-lg-5">
            <div class="row">
                <div class="col-lg-6">
                    <div class="btn-group" dropdown is-open="statusStandort.isopen">
                        <button id="single-button-standort" type="button" class="btn btn-primary" dropdown-toggle>
                            {{selectedStandort.name || "Alle Standorte"}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="single-button-standort">
                            <li role="menuitem" ng-click="clearSelectedStandort()"><a href="">Alle Standorte</a></li>
                            <li class="divider"></li>
                            <li ng-repeat="standort in standorte" role="menuitem" ng-click="selectStandort(standort)"><a
                                    href="">{{standort.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="btn-group" dropdown is-open="statusKategorie.isopen">
                        <button id="single-button-kategorie" type="button" class="btn btn-primary" dropdown-toggle>
                            {{selectedKategorie.name || "Alle Kategorien"}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="single-button-kategorie">
                            <li role="menuitem" ng-click="clearSelectedKategorie()"><a href="">Alle Kategorien</a></li>
                            <li class="divider"></li>
                            <li ng-repeat="kategorie in kategorien" role="menuitem"
                                ng-click="selectKategorie(kategorie)"><a
                                    href="">{{kategorie.name}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7">
            <button type="submit" class="btn btn-primary pull-right" ng-click="newLink()"><i class="fa fa-plus"></i>
                Link anlegen
            </button>
        </div>
    </div>


    <div class="spacer30"></div>

    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="tablesorter--notSortable">Logo</th>
                    <th class="tablesorter--sortable" ng-click="tablesorterChangeField('standort.name')" ng-show="!isStandortSelected()">Standort <i class="fa" ng-show="tablesorterOrderByField == 'standort.name'" ng-class="{'fa-caret-down':tablesorterReverseSort,'fa-caret-up':!tablesorterReverseSort}"></i></th>
                    <th class="tablesorter--sortable" ng-click="tablesorterChangeField('kategorie.name')" ng-show="!isKategorieSelected()">Kategorie <i class="fa" ng-show="tablesorterOrderByField == 'kategorie.name'" ng-class="{'fa-caret-down':tablesorterReverseSort,'fa-caret-up':!tablesorterReverseSort}"></i></th>
                    <th class="tablesorter--sortable" ng-click="tablesorterChangeField('createdAt')">Erstelldatum <i class="fa" ng-show="tablesorterOrderByField == 'createdAt'" ng-class="{'fa-caret-down':tablesorterReverseSort,'fa-caret-up':!tablesorterReverseSort}"></i></th>
                    <th class="tablesorter--sortable" ng-click="tablesorterChangeField('title')">Titel <i class="fa" ng-show="tablesorterOrderByField == 'title'" ng-class="{'fa-caret-down':tablesorterReverseSort,'fa-caret-up':!tablesorterReverseSort}"></i></th>
                    <th class="tablesorter--notSortable">Beschreibung</th>
                    <!--<th>Reihenfolge</th>-->
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="link in links | orderBy:tablesorterOrderByField:tablesorterReverseSort">
                    <td ng-if="!link.bild"><em>Keins</em></td>
                    <td ng-if="link.bild"><img src="{{link.bild}}" alt="" style="max-width:75px"/></td>
                    <td ng-hide="isStandortSelected()">{{link.standort.name}}</td>
                    <td ng-hide="isKategorieSelected() || link.isToplink"><b>{{link.kategorie.name}}</b></td>
                    <td ng-show="link.isToplink" class="text-center"><strong><em>Toplink</em></strong></td>
                    <td>{{link.createdAt | date:'d.M.yyyy'}}</td>
                    <td>{{link.title}}</td>
                    <td ng-bind-html="link.content"></td>
                    <!--<td>&nbsp;</td>-->
                    <td>
                        <a href="#" class="btn btn-default" ng-click="goToeditLink(link)">
                            Bearbeiten
                        </a>
                    </td>
                    <td>
                        <button
                                class="btn btn-danger"
                                mwl-confirm
                                confirm-text="Löschen"
                                placement="left"
                                on-confirm="deleteLink(link)"
                                on-cancel="cancelClicked = true"
                                confirm-button-type="danger"
                                cancel-button-type="default">
                            <i class="fa fa-times"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>

    <div class="spacer100"></div>

</div>

<div ng-include="'components/footer/footer.html'"></div>
<div ng-include="'components/navbar/navbar.html'"></div>
