@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';

@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';
@path-fonts: "/assets/fonts";

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



@import 'account/login/login.less';
@import 'article/article_list/article_list.less';
@import 'article/article_detail/article_detail.less';
@import 'admin/admin.less';
@import 'main/main.less';
@import 'modal/modal.less';
@import "styles/footer.less";
@import "styles/helper-classes.less";
@import "ehrenamt/ehrenamt_list/ehrenamt_list.less";
@import "ehrenamt/ehrenamt_details/ehrenamt_details.less";
@import 'browser/browser.less';
@import '../components/cookie/cookie.less';
@import '../components/socialsharing/socialsharing.less';


@import 'styles/main.less';



//Finetuning

.dropdown-menu {
  left: 0 !important;
  top: 30px !important;
}

a {
  outline: 0 !important;
}
