//==========================================//
// INFO                                     //
//==========================================//
//                                          //
//                                          //
//                                          //
//        tayfun.guelcan@volkswagen.de      //
//                                          //
//                                  v.0.0.1 //
//==========================================//
//==========================================//


@font-family                : @font-family-base;
@font-size                  : 16px;

@caption-font-family        : @font-family-base;
@caption-letter-spacing     : 0.04em;
@caption-font-color         : #333;

@font-size-large:             ceil((@font-size * 1.25)); // ~20px
@font-size-small:             ceil((@font-size * 0.85)); // ~14px
@page-title-font-size       : 27px;

@body-bg                    : #ffffff;
@body-color                 : @silver700;

@link-color                 : @darkblue100;
@link-hover-color           : @blue500;

@border-color               : #e9e9e9;
@border-color2              : darken(@border-color,5%);
@border-radius              : 0px;


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
@grid-columns :              12;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         30px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
@grid-float-breakpoint:     @screen-sm-min;
//** Point at which the navbar begins collapsing.
@grid-float-breakpoint-max: (@grid-float-breakpoint - 1);


// CLEAN ZONE (LOGIN, REGISTER, AND ERROR PAGES CONTAINER)
//============================================
@cls-bg                     : @navbar-bg;
@cls-color                  : @silver200;


// HEADER
@header-bg-color : @grey100;


// NAVBAR & LOGO
//============================================
@navbar-bg                  : @darkblue600;
@navbar-color               : @silver100;
@navbar-shadow              : 0 3px 7px rgba(0,0,0,0.40);
@navbar-brand-font          : @font-family-bold;
@navbar-img                 : none;

@navbar-brand-visibility  : hidden; //default;
@navbar-brand-home-visibility  : default; //hidden;
@navbar-brand-font-size		: 30px;
@navbar-brand-text-shadow	: 0 0px 20px rgba(0, 0, 0, 0.6);
@navbar-brand-font-family : @font-family-bold;
@navbar-text-transform:     uppercase;

@navbar-brand-text-shadow-menu	: 0px 0px 6px rgba(0, 0, 0, 0.95);

@navbar-default-color:             #777;
@navbar-default-bg:                transparent;
@navbar-default-border:            darken(@navbar-default-bg, 6.5%);

@navbar-scroll-color:             @grey200;
@navbar-scroll-bg:                white;
@navbar-scoll-border:             lighten(@navbar-scroll-color, 70%);



// Navbar links
@navbar-default-link-color:                #fff;
@navbar-default-link-hover-color:          darken(@navbar-default-link-color, 6.5%);
@navbar-default-link-hover-bg:             transparent;
@navbar-default-link-active-color:         #555;
@navbar-default-link-active-bg:            darken(@navbar-default-bg, 6.5%);
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;

// Navbar brand label
@navbar-default-brand-color:               @navbar-default-link-color;
@navbar-default-brand-hover-color:         darken(@navbar-default-brand-color, 10%);
@navbar-default-brand-hover-bg:            transparent;

// Navbar toggle
@navbar-default-toggle-hover-bg:           #ddd;
@navbar-default-toggle-icon-bar-bg:        #888;
@navbar-default-toggle-border-color:       #ddd;


// HEADER Slider
@brand-headline				: 44px;
@brand-headline-font        : @font-family-bold;

@carousel-caption-color : #fff;
@carousel-text-shadow		: 0 0px 10px rgba(0, 0, 0, 0.7);
@carousel-indicator-margin-right-left : 15px;

@carousel-control-opacity : 1;
@carousel-control-width : 60px;
@carousel-control-height : 60px;

// Carousel für die 4 Headartikel
@newscarousel-bg-color : #eee;
@newscarousel-text-color : #fff;
@thumbnail-caption-font-family : @font-family-bold;
@thumbnail-caption-shadow : @carousel-text-shadow;
@thumbnail-caption-font-size : 20px;
@thumbnail-caption-font-size-xs-max : 15px;
@thumbnail-min-height : 180px;
@thumbnail-indicator-display : none;
@thumbnail-caption-letter-spacing : @caption-letter-spacing;



// Inverted navbar
// Reset inverted navbar basics
@navbar-inverse-color:                      #ffffff;
@navbar-inverse-bg:                         @darkblue600;
@navbar-inverse-border:                     darken(@navbar-inverse-bg, 10%);

// Inverted navbar links
@navbar-inverse-link-color:                 @blue100;
@navbar-inverse-link-hover-color:           #fff;
@navbar-inverse-link-hover-bg:              transparent;
@navbar-inverse-link-active-color:          @navbar-inverse-link-hover-color;
@navbar-inverse-link-active-bg:             darken(@navbar-inverse-bg, 10%);
@navbar-inverse-link-disabled-color:        #444;
@navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar brand label
@navbar-inverse-brand-color:                @navbar-inverse-link-color;
@navbar-inverse-brand-hover-color:          #fff;
@navbar-inverse-brand-hover-bg:             transparent;

// Inverted navbar toggle
@navbar-inverse-toggle-hover-bg:            #333;
@navbar-inverse-toggle-icon-bar-bg:         #fff;
@navbar-inverse-toggle-border-color:        #333;



@brand-bg                   : @darkblue600;
@brand-bg-overlay           : @darkblue600;
@brand-color                : @blue200;
@brand-color-overlay        : @blue100;
@brand-font-size            : 36px;






// HEADERS
//============================================

@panel-title-font-family     : @font-family-light;
@panel-title-font-size       : 30px;
@panel-shadow                : 0 2px 5px rgba(0, 0, 0, 0.10);
@panel-heading-border        : 0px; /*1px solid rgba(0,0,0,.15)*/




// EHRENAMTSECTION
@ehrenamtSection-h3-font-size : 30px;
@ehrenamtSection-h4-font-size : 20px;

@ehrenamt-hover-bg-color    : @silver200;



// FOOTER
//============================================
@footer-bg                  : @grey400;
@footer-color               : @silver200;
@footer-list-color          : @grey100;



// BUTTONS
//============================================
@btn-text-transform         : uppercase;
@btn-box-shadow             : 0px 1px 3px 0px fade(@grey700, 40%);

@btn-font-family            : @font-family-bold;
@btn-font-size              : @font-size -0.1em;

@btn-default-font-size      : 14px;
@btn-default-border         : transparent;
@btn-default-border-hover   : transparent;
@btn-default-bg             : @silver100;
@btn-default-color          : @grey300;
@btn-default-hover-bg       : tint(@silver100, 40%);
@btn-default-hover-color    : @grey400;
@btn-default-active-bg      : tint(@silver100, 70%);
@btn-default-active-color   : @grey400;

@btn-default-color-icon     : @btn-default-color;

@btn-lg-font-size           : 14px;
@btn-sm-font-size           : 12px;
@btn-xs-font-size           : 11px;

// BUTTONS Roundet
//============================================

@btn-rounded                : 2px;
@btn-rounded-lg             : 2px;
@btn-rounded-sm             : 2px;
@btn-rounded-xs             : 2px;



// ANIMATION
//============================================
@enable-animation           : true;
@enable-easeInQuart         : true;
@enable-easeOutQuart        : true;
@enable-easeInBack          : true;
@enable-easeOutBack         : true;
@enable-easeInOutBack       : true;
@enable-steps               : true;
@enable-jumping             : true;
@enable-rubber              : true;


//Animation duration
@ease-duration              : .35s;
@easeInQuart                : .35s;
@easeOutQuart               : .4s;
@easeInBack                 : .35s;
@easeOutBack                : .35s;
@easeInOutBack              : .5s;
@steps                      : .5s;
@jumping                    : .7s;
@rubber                     : .5s;


// COMPONENT
//============================================
@state-active-bg            : #3d8eb9;
@state-active-color         : #fff;



// Reduce the file size by disabling the color of the components that you do not use.
@enable-mint                : true;
@enable-purple              : true;
@enable-pink                : true;
@enable-dark                : true;


@light-bg                   : @silver100;
@gray-bg                    : @grey100;
@info-bg                    : @blue400;
@info-bg-hover              : @blue300;
@mint-bg                    : @blue100;
@purple-bg                  : @red700;
@pink-bg                    : @red100;

@primary-bg                 : @darkblue300;
@primary-bg-hover           : @darkblue200;
@primary-bg-active          : @darkblue100;
@danger-bg                  : @red300;
@danger-bg-hover            : @red200;
@danger-bg-active           : @red100;
@success-bg                 : @green400;
@success-bg-hover           : @green300;
@success-bg-active          : @green200;
@warning-bg                 : @yellow400;
@warning-bg-hover           : @yellow300;
@warning-bg-active          : @yellow200;
@dark-bg                    : @grey400;
@dark-bg-hover              : @grey300;
@dark-bg-active             : @grey200;


@text-muted                 : lighten(@body-color,30%);
@light-color                : #404040;
@gray-color                 : #404040;
@primary-color              : #fff;
@info-color                 : #fff;
@success-color              : #fff;
@warning-color              : #fff;
@danger-color               : #fff;
@mint-color                 : @body-color;
@purple-color               : #fff;
@pink-color                 : #fff;
@dark-color                 : #fff;



// OVERWRITE BOOTSTRAP COMPONENT
//============================================


//Disable components that you do not use.
@table                      : true;
@form-control               : true;
@nav-pills                  : true;
@list-group                 : true;
@label                      : true;
@badge                      : true;
@breadcrumb                 : true;
@alert                      : true;
@modal                      : true;
@tooltip                    : true;
@popover                    : true;
@dropdown                   : true;
@well                       : true;
@progressbar                : true;
@pager                      : true;
@pagination                 : true;
@carousel                   : true;
@accordion                  : true;
@tabs                       : true;
@bg                         : true;
@txt                        : true;


@buttons                    : true;

// COE comes with a variety of buttons. Please disable if you do not use.

@include-btn-hover          : true;
@include-btn-active         : true;
@include-btn-labeled        : true;
@include-btn-circle         : true;
@include-btn-icon           : true;
@include-btn-rounded        : true;



@table-border-color         : rgba(0,0,0,0.07);
@tooltip-bg                 : #1c1e21;
@state-success              : darken(@success-bg,20%);
@state-warning              : darken(@warning-bg,20%);
@state-danger               : darken(@danger-bg,20%);



@panels                     : true;
@panel-heading-height       : 60px;
@panel-w-tabs               : true;
@panel-w-progressbar        : true;
@panel-w-pagination         : true;
@panel-w-pager              : true;
@panel-w-btn                : true;



// EXTRA
//============================================
@megamenu					: true;

@timeline                   : true;
@timeline-bg                : @light-bg;
@timeline-color             : @light-color;



@email                      : true;
@email-list-odd             : rgba(0, 66, 78, 0.05);
@email-list-hover           : rgba(0, 66, 78, 0.065);
@email-highlight            : #f2ee8d;
@email-stared-color         : #ffa100;
@email-stared-hover         : lighten(@email-stared-color,15%);
@email-unstared-color       : @text-muted;



@form-wizard                : true;
@include-form-wizard-classic: true;
@include-form-wizard-steps  : true;



// EXCLUSIVE PLUGIN STYLESHEET
//============================================
@nifty-scrollTop             : true;
@nifty-language-selector     : false;
@nifty-overlay               : true;
@nifty-noty                  : true;
@nifty-check                 : true;
@nifty-check-bg              : #fff;
@nifty-check-color           : #404040;
@nifty-check-border          : #c1c1c1;
@nifty-check-border-radius   : 0px;



.transition(@prop,@times) {
    -webkit-transition: @prop @times;
    transition: @prop @times;
}



// Copied over from bower_components/bootstrap/less/variables.less
// To be used in app/styles/coe/bs-overwrite.less
// Should be updated to keep consistent with bootstrap changes

@font-size-base:          14px;
//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~20px

//TOP BAR user name
//============================================
@user-name-font-family: @font-family;


//Pagination override variables

@pagination-hover-bg                : @silver100;
@pagination-hover-border-color      : @state-active-bg;
@pagination-hover-text-color        : @state-active-bg;
@pagination-hover-box-shadow-color  : @state-active-bg;

//Checkbox colors
@checkbox-checked-border-color : @darkblue400;
@checkbox-checked-border-checked-color: @darkblue400;
@checkbox-checked-background-color : @darkblue400;
@checkbox-checked-hook-color : white;
@checkbox-checked-border-radius : 0px;
@checkbox-checked-border-size: 2px;
