<div class="row">
  <div class="col-lg-12">
    <dl>
      <dt>Rechtliches</dt>
      <dd>Nutzungsbedingungen</dd>
      <dd>Datenschutz</dd>
      <dd>Anbieterkennzeichnung</dd>
    </dl>

  </div>
</div>
