<div class="navbar navbar-inverse navbar-fixed-bottom"  ng-controller="NavbarCtrl" ng-show="isLoggedIn()">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Volkswagen Redaktionssystem</a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">

      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{active: isActive('/admin/article_list') || isActive('/admin/article_new')}"><a href="/admin/article_list"><i class="fa fa-newspaper-o"></i>
          Aktionen</a></li>
        <li ng-class="{active: isActive('/admin/motivation')}"><a href="/admin/motivation"><i class="fa fa-heartbeat"></i>
          Motivation</a></li>
        <li ng-class="{active: isActive('/admin/links')}"><a href="/admin/links"><i class="fa fa-link"></i>
          Links</a></li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin"> <i class="fa fa-users"></i>
          Benutzer</a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><i class="fa fa-user"></i> Hello {{ getCurrentUser().name }}</a></li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()"><i class="fa fa-sign-out"></i>
           Logout</a></li>
      </ul>

    </div>
  </div>
</div>
