.newscarousel-container .container .row {
  margin-left: 50px;
  margin-right: 50px;
}

.headerPicture {
  background-position: 50% 0;
}

.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;

  li {
 display: inline-block;
 width:  10px;
 height: 10px;
 margin: 1px @carousel-indicator-margin-right-left;

    text-indent: -999px;
    border: 1px solid @carousel-indicator-border-color;
    border-radius: 10px;
    cursor: pointer;

    // IE8-9 hack for event handling
    //
    // Internet Explorer 8-9 does not support clicks on elements without a set
    // `background-color`. We cannot use `filter` since that's not viewed as a
    // background color by the browser. Thus, a hack is needed.
    //
    // For IE8, we set solid black as it doesn't support `rgba()`. For IE9, we
    // set alpha transparency for the best results possible.
    background-color: #000 \9; // IE8
    background-color: rgba(0,0,0,0); // IE9
  }
  .active {
    margin: 0 @carousel-indicator-margin-right-left;
    width:  12px;
    height: 12px;
    background-color: @carousel-indicator-active-bg;
  }
}

.newscarousel-container {
  color : @newscarousel-text-color;
}

.newscarousel {
  .carousel-indicators {
    display: @thumbnail-indicator-display;
  }
}


.glyphicon-chevron-left::before {
      content: "";
      position: absolute;
      width:@carousel-control-width;
      height: @carousel-control-height;
      background: url("/assets/images/arrows/@{theme}/pfeil-links_off.png") no-repeat;

}

.carousel-control:hover .glyphicon-chevron-left::before {
  background: url("/assets/images/arrows/@{theme}/pfeil-links_on.png") no-repeat;
}


.glyphicon-chevron-right::before {
      content: "";
      position: absolute;
      width:@carousel-control-width;
      height: @carousel-control-height;
      background: url("/assets/images/arrows/@{theme}/pfeil-rechts_off.png") no-repeat;
}

.carousel-control:hover .glyphicon-chevron-right::before {
  background: url("/assets/images/arrows/@{theme}/pfeil-rechts_on.png") no-repeat;
}

.carousel-control {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  padding: 0;
  .opacity(@carousel-control-opacity);
  font-size: @carousel-control-font-size;
  color: @carousel-control-color;
  text-align: center;
  text-shadow: @carousel-text-shadow;

  // We can't have this transition here because WebKit cancels the carousel
  // animation if you trip this while in the middle of another animation.


  // Set gradients for backgrounds
  &.left {
    //#gradient > .horizontal(@start-color: rgba(0,0,0,0); @end-color: rgba(0,0,0,0));
  }
  &.right {
    left: auto;
    right: 0;
    //#gradient > .horizontal(@start-color: rgba(0,0,0,0); @end-color: rgba(0,0,0,0));
  }


  // Hover/focus state
  &:hover,
  &:focus {
    //outline: 0;
    color: red;
    //text-decoration: none;
    opacity: 0.5;
  }

  // Toggles
  .icon-prev,
  .icon-next,
  .glyphicon-chevron-left,
  .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    z-index: 99;
    display: inline-block;
    width: @carousel-control-width;
  }
  .icon-prev,
  .glyphicon-chevron-left {
    left: 50%;
    margin-left: -30px;
    @media (max-width: @screen-xs-max) {
        margin-left: 5px;
    }
  }
  .icon-next,
  .glyphicon-chevron-right {
    right: 50%;
    margin-right: 30px;
    @media (max-width: @screen-xs-max) {
        margin-right: 30px;
    }
  }
  .icon-prev,
  .icon-next {
    width:  @carousel-control-width;
    height: 20px;
    line-height: 1;
    font-family: serif;
  }


  .icon-prev {
    &:before {
      content: '\2039';// SINGLE LEFT-POINTING ANGLE QUOTATION MARK (U+2039)
    }
  }
  .icon-next {
    &:before {
      content: '\203a';// SINGLE RIGHT-POINTING ANGLE QUOTATION MARK (U+203A)
    }
  }
}



.newscarousel-container {
  .icon-prev,
  .glyphicon-chevron-left {
    margin-left: -95px;
    top: 42.5%;
    @media (max-width: @screen-xs-max) {
        margin-left: -30px;
    }
  }
  .icon-next,
  .glyphicon-chevron-right {
    margin-right: -35px;
    top: 42.5%;
    @media (max-width: @screen-xs-max) {
        margin-right: 0;
    }
  }

  .glyphicon-chevron-left::before {
        background: url("/assets/images/arrows/@{theme}/pfeil-a-links_off.png") no-repeat;

  }

  .carousel-control:hover .glyphicon-chevron-left::before {
    background: url("/assets/images/arrows/@{theme}/pfeil-a-links_on.png") no-repeat;
  }


  .glyphicon-chevron-right::before {
        background: url("/assets/images/arrows/@{theme}/pfeil-a-rechts_off.png") no-repeat;
  }

  .carousel-control:hover .glyphicon-chevron-right::before {
    background: url("/assets/images/arrows/@{theme}/pfeil-a-rechts_on.png") no-repeat;
  }
}

.carousel .carousel-caption {
    h1 {
        color: @carousel-caption-color;
    }
}

.thumbnail{

    .caption {
      width: 100%;
      margin: 0;
      position: absolute;
      bottom:5px;
      z-index:15;


      h3 {
        font-size: @thumbnail-caption-font-size;
        font-family: @thumbnail-caption-font-family;
        text-shadow: @thumbnail-caption-shadow;
        color : @newscarousel-text-color;
        margin : 0 auto;
        letter-spacing: @thumbnail-caption-letter-spacing;


        @media (max-width: @screen-xs-max) {
            font-size: @thumbnail-caption-font-size-xs-max;
        }
      }


    }

    border-radius: @border-radius;
    border-color: @border-color;
    position : relative;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color : @grey100;
    min-height: @thumbnail-min-height;
    min-width: 100px;

}
