// Fine Tuning to match UI5

#gui-frame-colors {
	h4 {
		// Chrome:
		// margin-top: 16px;
		// margin-bottom: 8px;
	}

	gui-kachel {
		.panel-body {
			padding-top: 24px;
		}

		.col-md-1 {
			width: percentage(1/7) !important;
			text-align: center;

			.color-sample {
				margin-bottom: 6px;
			}

			.color-sample-title {
				// Chrome:
				// margin-bottom: 6px;
				margin-bottom: 7px;

				& ~ p {
					margin-bottom: 12px;
				}
			}
		}

		.legend {
			margin-right: 10px;
		}
	}
}

#gui-frame-icons {
	h4 {
		// Chrome:
		// margin-top: 16px;
		// margin-bottom: 8px;
	}

	gui-kachel {
		.panel-body {
			padding-top: 20px;
		}

		p:first-child {
			padding-top: 10px;
		}

		p {
			padding-left: 5px;
		}

		.col-lg-4:not(:first-child) {
			margin-left: -16px;
		}
	}

	.icon-label {
		vertical-align: top;
	  position: relative;
	  top: -5px;
	  left: 1.5px;
	}
}

#gui-frame-fonts {
	h1 {
		margin-top: 21px;
	}

	h4 {
		// Chrome:
		// margin-bottom: 16px;
	}

	gui-kachel {
		.panel-body {
			// Chrome:
			// padding-top: 24px;
		}

		h3, .h3 {
			margin-bottom: 9px;
		}

		h4, .h4 {
			// Chrome:
			// margin-top: 10px;
			// margin-bottom: 10px;
			margin-top: 0px;
			margin-bottom: 11px;
		}
	}
}

#gui-frame-css {
	h4 {
		// Chrome:
		// margin-top: 16px;
		// margin-bottom: 8px;
	}

	#gui-kachel-basic-buttons {
		.col-md-3:not(:first-child) {
			margin-left: -4px;
		}

		.row {
			// Chrome:
			// margin-bottom: 3px;
			margin-bottom: 2px;
		}

		.basic-button-small {
			// Chrome:
			// padding-top: 1px;
			margin-bottom: 8px;
		}

		.basic-button-extra-small {
			button {
				// Chrome:
				// padding-top: 4px;
				// padding-bottom: 3px;
				padding-top: 5px;
				padding-bottom: 2px;
				padding-left: 6px;
				padding-right: 6px;
			}
		}
	}

	#gui-kachel-icon-buttons {
		.panel-body {
			padding-top: 29px;
		}

		.col-md-3:not(:first-child) {
			margin-left: -15px;
		}

		p {
			padding-left: 1px;
		}

		.button-transparent-icon {
			padding-left: 5px;
		}

		.button-transparent-text {
			padding-left: 10px;
			padding-top: 10px;
		}
	}

	#gui-kachel-block-buttons {
		.panel-body {
			padding-top: 35px;
		}

		p {
			// Chrome:
			// padding-left: 5px;
			// padding-right: 5px;
			// margin-bottom: 18px;
			padding-left: 6px;
			padding-right: 0px;
			margin-bottom: 20px;

			button {
				// Chrome:
				// padding-bottom: 17px;
				padding-top: 17px;
				letter-spacing: 0px;
				padding-bottom: 15px;
			}
		}
	}
}

#gui-frame-getting-started {
	h4 {
		// Chrome:
		// margin-top: 16px;
		// margin-bottom: 8px;
	}
}