@navbar-top-height: 20px;
// Default navbar
.navbar-default {
  .animation-fade02;

  padding-top: @navbar-top-height;
  padding-bottom: @navbar-top-height;
  background-color: @navbar-default-bg;
  border-color: @navbar-default-border;

  .navbar-brand {
    .animation-fade01;
    color: @navbar-default-brand-color;
    &:hover,
    &:focus {
      color: @navbar-default-brand-hover-color;
      background-color: @navbar-default-brand-hover-bg;
    }
    font-size: @navbar-brand-font-size;
    font-family: @navbar-brand-font-family;
    text-shadow: @navbar-brand-text-shadow;
    //margin-top:  @navbar-brand-text-margin-top;
    visibility: @navbar-brand-visibility;
  }

  .navbar-text {
    color: @navbar-default-color;
    text-shadow: @navbar-brand-text-shadow;
  }

  .navbar-right {
    margin-right: 15px;
    .linkHome {
      visibility: @navbar-brand-home-visibility;
    }
  }

  .navbar-nav {
    .animation-fade01;
    > li > a {
      color: @navbar-default-link-color;
      text-transform: @navbar-text-transform;
      font-family: @navbar-brand-font-family;

      &:hover,
      &:focus {
        color: @navbar-default-link-hover-color;
        background-color: @navbar-default-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-default-link-active-color;
        background-color: @navbar-default-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-default-link-disabled-color;
        background-color: @navbar-default-link-disabled-bg;
      }
    }

    margin-top: 0px;
  }

  .navbar-nav li a {
    text-shadow: @navbar-brand-text-shadow-menu;
  }

  .navbar-toggle {
    border-color: @navbar-default-toggle-border-color;
    &:hover,
    &:focus {
      background-color: @navbar-default-toggle-hover-bg;
    }
    .icon-bar {
      background-color: @navbar-default-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: @navbar-default-border;
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: @navbar-default-link-active-bg;
        color: @navbar-default-link-active-color;
      }
    }

    @media (max-width: @grid-float-breakpoint-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: @navbar-default-link-color;
          &:hover,
          &:focus {
            color: @navbar-default-link-hover-color;
            background-color: @navbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: @navbar-default-link-active-color;
            background-color: @navbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: @navbar-default-link-disabled-color;
            background-color: @navbar-default-link-disabled-bg;
          }
        }
      }
    }
  }

  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.

  .navbar-link {
    color: @navbar-default-link-color;
    &:hover {
      color: @navbar-default-link-hover-color;
    }
  }

}

.navtransform {
  color: @navbar-scroll-color;
  background-color: @navbar-scroll-bg;
  border-color: @navbar-scoll-border;

  .navbar-brand {
    color: @navbar-scroll-color;
    &:hover,
    &:focus {
      color: lighten(@navbar-scroll-color, 30%);
      background-color: @navbar-default-brand-hover-bg;
    }
    font-size: @navbar-brand-font-size;
    font-family: @navbar-brand-font-family;
    text-shadow: none;
    //margin-top:  @navbar-brand-text-margin-top;
  }

  .navbar-text {
    color: @navbar-default-color;
  }

  .navbar-nav {
    > li > a {
      color: @navbar-scroll-color;
      text-shadow: none;

      &:hover,
      &:focus {
        color: darken(@navbar-scroll-color, 20%);
        background-color: @navbar-default-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: lighten(@navbar-scroll-color, 30%);
        background-color: @navbar-default-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-default-link-disabled-color;
        background-color: @navbar-default-link-disabled-bg;
      }
    }

    margin-top: 0px;
  }

}

@media (max-width: @screen-xs-max) {

  .navbar-nav {
    padding-top: 10px;
    > li > a {
      padding: 20px;
    }

  }

  .navbar-toggle {
    border: 1px solid transparent !important;
    &:hover{
      background-color: transparent;
    }
  }

      .brandImg {
    width: 200px !important;
    margin-top: 5px;
  }

  // Default navbar
  .navbar-default {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: @navbar-scroll-bg;
    border-color: @navbar-default-border;
  }

  .navbar-brand {
    .animation-fade01;
    color: @navbar-default-brand-color;
    &:hover,
    &:focus {
      color: @navbar-default-brand-hover-color;
      background-color: @navbar-default-brand-hover-bg;
    }
    font-size: @navbar-brand-font-size;
    font-family: @navbar-brand-font-family;
    text-shadow: @navbar-brand-text-shadow;
    //margin-top:  @navbar-brand-text-margin-top;
    visibility: @navbar-brand-visibility;
  }

}

