//
// Tables
// ---



tbody .ng-scope td {
    min-width: 75px;


}


//all same height

.col-h-a-list{
    margin-bottom: -99999px;
    padding-bottom: 99999px;

}

.col-h-a-search{
    margin-bottom: -99999px;
    padding-bottom: 99999px;


}

.col-md-10.col-h-a-list{
  background: #fff;

}


#equalheight {
    overflow: hidden;

}

.ehrenamtSection .row {
    margin-left: -19px;
    margin-top: -9px;
}

.ehrenamtSection{
  padding-right: 14px;
}

.col-lg-10.col-md-10.col-h-a-search {
    background: #eee;
    padding-top: 2px;
}

.col-list{
  padding-top: 10px;

}
