<div class="navbar navbar-default navbar-fixed-top" ng-class="{navtransform:boolChangeClass}" scroll ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">

        <div class="navLogo" ng-if="SETTINGS.navigation.alwaysShowLogo">
            <a href="/"><img src="{{SETTINGS.navigation.logoUrl}}" class="img-responsive brandImg"/></a>
        </div>

      <div class="navLogo" ng-show="boolChangeClass" ng-if="!SETTINGS.navigation.alwaysShowLogo">
        <a href="/"><img src="{{SETTINGS.navigation.logoUrl}}" class="img-responsive brandImg"/></a>
      </div>

      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
      </button>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="linkHome" href="/" du-smooth-scroll>Home</a>
        </li>
        <li ng-repeat="route in routes" ng-class="{active: activeRoute(route)}">
          <a ng-href="{{ route.path }}">{{ route.name }}</a>
        </li>
        <!--<li>
          <a href="" du-smooth-scroll>International</a>
        </li>-->
        <li>
          <a href="" ng-click="goToAnchor('motivation')" du-smooth-scroll>Motivation</a>
        </li>
        <li>
          <a href="" ng-click="goToAnchor('links')" du-smooth-scroll>Links</a>
        </li>
        <!--<li>
          <a href="#"><i class="fa fa-search"></i></a>
        </li>-->
        <!--<li>
          <a href="#"><i class="fa fa-search"></i></a>
        </li>-->
      </ul>
    </div>
  </div>
</div>
