footer {
  .audi_bg_gardient {
    background-image: url("../assets/images/Audi_Aluminiumsilber_Verlauf.png");
    background-repeat: repeat-y;
    background-size: cover;
  }

  .bottomLinks {
    padding: 30px 0;
    background-color: @footer-bg !important;
  }

  .brand {
    text-align: center;
    padding: 30px 0;
    //border-top: 1px solid #E5E5E5;
  }

  .list-unstyled {
    >li {
      color:  @footer-color;
      margin-bottom: 10px;
      >a{
        color: @footer-list-color;
        &:hover {
          color:white;
        }
      }
    }
  }
}
