//@theme : "volkswagenag"; // Ursprungstheme
//@theme : "audi";
//@theme : "porsche";
//@theme : "volkswagenpkw";
//@theme : "man";

@import "coe/fine-tuning.import.less";

@import "themes/@{theme}/colors.import.less";
@import "themes/@{theme}/fonts.import.less";
@path-fonts: "/assets/fonts";

@import "themes/@{theme}/variables.import.less";


@import "coe/color-helpers.import.less";
@import "coe/bs-overwrite.import.less";
@import "coe/animation.import.less";
@import "coe/extras.import.less";
@import "coe/navbar.import.less";
@import "coe/carousel.import.less";
@import "coe/table.import.less";
@import "coe/awesome-bootstrap-checkbox.less";
@import "custom/custom.import.less";
@import "custom/wigeditor.import.less";
@import "tablesorter.less";
