<navigation fade="true"></navigation>
<!-- HEADER CAROUSEL -->
<div>
    <header>
        <div class="container">

            <carousel interval="myInterval" no-wrap="noWrapSlides">
                <slide ng-repeat="slide in slides" style="max-height: 500px;">
                    <a ng-href="/article/{{slide._id}}">
                        <div ng-style="{'background-image':'url({{slide.image}})'}"
                             class="headerPicture linearBG"></div>
                        <div class="carousel-caption">
                            <!--<span>{{slide.ort}}</span>-->
                            <h1>{{slide.title}}</h1>

                        </div>
                    </a>
                </slide>
            </carousel>
        </div>
    </header>

    <!-- END HEADER CAROUSEL -->
    <div class="container">
        <div class="spacer20"></div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                <div class="brandLogo">
                    <img src="assets/images/gemeinsam-helfen_vwag.png" class="img-responsive"/>
                </div>
            </div>
        </div>

        <div class="spacer20"></div>
    </div>


    <!-- NEWS CAROUSEL -->

    <div class="newscarousel-container background-color-silver100">
        <div class="container">
            <div class="spacer20"></div>
            <div class="row">
                <carousel interval="-1" class="newscarousel" no-wrap="true">
                    <slide ng-repeat="slide in recentArticleSlides">
                        <div ng-repeat="article in slide" class="col-md-3 col-sm-6 col-xs-12 text-center">
                            <a ng-href="/article/{{article._id}}">
                                <div class="thumbnail linearBG" style="background-image: url('{{article.image}}');">
                                    <div class="caption">
                                        <h3>{{article.title}}</h3>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>
    </div>

    <div class="container-fluid  background-color-silver100">

        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <button class="btn btn-default" ng-click="goToArticle()">Alle Aktionen anzeigen</button>
                </div>
            </div>
        </div>

        <div class="spacer20"></div>

    </div>
    <!-- END NEWS CAROUSEL -->
    <div class="spacer20"></div>


    <!-- MOTIVATION -->
    <div class="container" id="motivation">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                <h2 ng-repeat="motivation in motivations | filterBy: ['language']: language">{{motivation.title}} </h2>

                <h3 class="text-muted">Warum sich der Volkswagen Konzern und seine Beschäftigten für Flüchtlinge
                    engagieren</h3>
                </h2>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                  <span class="pull-right">
                      <!-- Select Language -->
                      <div class="btn-group" style="margin-top:20px;" dropdown>
                          <button id="single-button" type="button" class="btn btn-default" dropdown-toggle
                                  ng-disabled="disabled">
                              {{language}}
                              <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                              <li ng-repeat="motivation in motivations">
                                  <a href="" ng-click="setLanguage(motivation.language)">{{motivation.language}}</a>
                              </li>
                          </ul>
                      </div>

                  </span>
            </div>

        </div>
        <div class="spacer15"></div>
        <div class="row">
            <div class="col-lg-12 motivation">
                <p ng-repeat="motivation in motivations | filterBy: ['language']: language">
                    {{motivation.content}}
                </p>
            </div>
        </div>
    </div>
    <section>
        <!-- END MOTIVATION -->

        <div class="spacer40"></div>

        <!-- PRO EHRENAMT -->

        <div class="container-fluid background-color-silver100">
            <div class="container">

                <div class="row">
                    <div class="col-sm-10"><h2 class="unselectable">Hier können Sie sich ehrenamtlich engagieren:</h2>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
                <div class="spacer20"></div>

                <div class="row">
                    <div id="equalheight">
                        <!-- FILTER -->
                        <div class="col-md-2 col-h-a-list">
                            <h4 class="unselectable">Liste filtern nach:</h4>

                            <div class="row ">
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                                    <h5>Region</h5>
                                    <!-- Select Language -->
                                    <div ng-model="plzFilter" class="btn-group" dropdown>
                                        <button id="single-plz-button" type="button"
                                                class="btn btn-default ehrenamt-plz" dropdown-toggle
                                                ng-disabled="disabled">
                                            <span class="title">{{plzFilterLabel}}</span>
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu ehrenamt-plz" role="menu"
                                            aria-labelledby="single-plz-button">
                                            <li>
                                                <a href="" ng-click="plzFilterClickHandler('__all','Alle')">Alle
                                                    anzeigen</a>
                                            </li>
                                            <li ng-repeat="plz in plzs">
                                                <a href="" ng-click="plzFilterClickHandler(plz.name,'PLZ '+plz.name)">PLZ
                                                    {{plz.name}}</a>
                                            </li>
                                        </ul>
                                        <!--
                                                    <select ng-model="plzFilter" ng-change="getFilteredContent()" class="form-control">
                                                        <option value="__all">Alle anzeigen</option>
                                                        <option ng-repeat="plz in plzs" value="{{plz.name}}">PLZ {{plz.name}}</option>
                                                    </select>
                                        -->
                                    </div>
                                </div>

                                <div class="spacer10"></div>
                                <div class="col-lg-12 col-md-12  col-sm-6 col-xs-6">
                                    <h5>Kategorie</h5>

                                    <div class="checkbox checkbox-primary">

                                            <input type="checkbox" class="styled" ng-click="categoryFilterClickHandler('__all')"
                                                   ng-checked="categoryFilter.length == 0"/><label> Alle</label>

                                    </div>
                                    <div class="checkbox checkbox-primary" ng-repeat="category in categories">

                                            <input type="checkbox" class="styled"  ng-click="categoryFilterClickHandler(category._id)"
                                                   ng-checked="isCategorySelected(category._id)"/><label> {{category.name}}</label>

                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- END FILTER -->

                        <div class="spacer5 col-h-a-list"></div>

                        <!-- CONTENT -->
                        <div class="col-md-10 col-h-a-list">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th class="hidden-xs">Kategorie</th>
                                    <th>Einsatzort</th>
                                    <th class="hidden-xs">Organisation</th>
                                    <th>Aufgabe</th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr ng-repeat="ehrenamt in ehrenamtList">
                                    <td class="hidden-xs">{{ehrenamt.kategorie.name}}</td>
                                    <td>{{ehrenamt.standort.name}}</td>
                                    <td class="hidden-xs">{{ehrenamt.nameDerOrganisation}}</td>
                                    <td>{{ehrenamt.konkreteTaetigkeit}}</td>
                                    <td><a href="" ng-click="goToEhrenamt(ehrenamt)"><i class="fa fa-angle-right"></i>
                                        Details</a></td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="row">
                                <div class="col-xs-12 pagination-centered">
                                    <pagination total-items="paginationTotalCount" ng-change="getFilteredContent()"
                                                ng-model="paginationCurrentPage" max-size="paginationMaxSize"
                                                rotate="false"
                                                items-per-page="paginationItemsPerPage" previous-text="&laquo;"
                                                next-text="&raquo;"></pagination>
                                </div>
                            </div>
                            <!-- END CONTENT -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="spacer20"></div>

        </div>
        <!-- END PRO EHRENAMT -->

        <div class="spacer20"></div>

        <!-- LINKLISTE -->
        <div class="container" id="links">
            <div class="row">
                <div class="col-lg-8"><h2>Weiterführende Informationen:</h2></div>
            </div>

            <!--<div class="spacer20"></div>-->
            <div class="row linklist__container">

                <div class="col-sm-6 linklist__box" ng-repeat="toplink in toplinks">
                    <div class="spacer20 hidden-xs"></div>
                    <div class="spacer30 visible-xs-block"></div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-5">
                            <img class="col-xs-5 col-sm-12" ng-src="{{toplink.bild}}" alt="" ng-show="toplink.bild">

                            <div class="spacer20" ng-show="toplink.bild"></div>
                            <span ng-hide="toplink.bild">&nbsp;</span>
                        </div>
                        <div class="col-xs-12 col-sm-7">
                            <div class="spacer10 visible-xs-block"></div>
                            <h4 class="media-heading"><a href="" ng-click="openExternalLinkModal({url:toplink.url})">{{toplink.title}}</a>
                            </h4>

                            <div ng-bind-html="toplink.content"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="spacer50"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8"><h2>Ansprechpartner an den Unternehmensstandorten:</h2></div>
                <div class="col-lg-4">
                        <span class="pull-right" style="margin-top: 20px">

                        <!-- Select Language -->
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn btn-default" dropdown-toggle ng-disabled="disabled">
                                {{linksCurrentLocation.name}}<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                                <li ng-repeat="location in linksAvailableLocations">
                                    <a href="" ng-click="setLinkLocation(location)">{{location.name}}</a>
                                </li>
                            </ul>
                        </div>

                        </span>
                </div>
            </div>


            <div ng-repeat="(kategorieHeader,kategorieLinks) in links">
                <div class="spacer30"></div>
                <h3>{{kategorieHeader}}</h3>

                <div class="row linklist__container">
                    <div class="col-xs-12 col-sm-6 linklist__box" ng-repeat="link in kategorieLinks">
                        <div class="spacer20 hidden-xs"></div>
                        <div class="spacer30 visible-xs-block"></div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-5">
                                <img class="col-xs-5 col-sm-12" ng-src="{{link.bild}}" alt="" ng-show="link.bild">

                                <div class="spacer20" ng-show="link.bild"></div>
                                <span ng-hide="link.bild">&nbsp;</span>
                            </div>
                            <div class="col-xs-12 col-sm-7">
                                <div class="spacer10 visible-xs-block"></div>
                                <h4 class="media-heading"><a href="" ng-click="openExternalLinkModal(link)">{{link.title}}</a>
                                </h4>

                                <div ng-bind-html="link.content"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="spacer30"></div>

    </section>
    <!-- ENDLINKLISTE -->
</div>

<!-- FOOTER -->
<div ng-include="'components/footer/footer.html'"></div>
<div ng-include="'components/navbar/navbar.html'"></div>
<!-- END FOOTER -->


<script type="text/ng-template" id="modalExternalLink.html">
    <div class="modal-header">
        <h3 class="modal-title">Achtung</h3>
    </div>
    <div class="modal-body">

        <p>
            {{SETTINGS.exitPage.disclaimer}}
        </p>

    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="close()">Abbrechen</button>
        &nbsp;
        <button class="btn btn-default" type="button" ng-click="goForIt()">Weiter zur Webseite</button>
    </div>
</script>
