/* Home Page Carousel */

@media (min-width: @screen-sm-min) {

  .headerPicture {
    height: 500px !important;
  }

}

@media (max-width: @screen-sm-min) {
  .navLogo a {
     img {
       width: 250px;
       position: absolute;
       left: 20px
     }
  }
}

.navLogo a{
  img {
    width: 250px;
  }
}


.headerPicture {
  >img{
    width: 150px;
  }
}


@media (max-width: @screen-xs-max) {
  header {
    margin-top: @navbar-top-height * 4;
  }

  .carousel-caption {
    h1 {
      font-size: @brand-headline/1.5;
      margin-top: 0;
    }
  }

  .carousel-control.left {
    left: -35px
  }
  .carousel-control.right {
    right: -35px
  }
}

header {
 h1 {
   font-size: @brand-headline;
   margin-top: 2px;
   font-family: @brand-headline-font;
 }

  span {
    font-size: 1.5em;
  }
}
.headerPicture {
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}

//MAIN BRAND LOGO


.brandLogo {
  width: 100%;
  margin: 0 auto;
  opacity: 1;

  img {
    width: 550px;
  }


}

//NEWS CAROUSEL

.newscarousel {

  //.carousel-control.right,  .carousel-control.left {
  //  display: none;
  //}

}

//UNSERE MOTIVATION

.motivation {

  @media all and (min-width: 900px) {
   /* >p:first-of-type  {
      -webkit-column-count: 2;
      -webkit-column-gap: 3%; /!* Saf3, Chrome*!/
      -moz-column-count: 2;
      -moz-column-gap: 3%; /!* FF3.5+ *!/
      column-count: 2;
      column-gap: 3%; /!* Opera 11+*!/
    }*/
    >p  {
      -webkit-column-count: 3;
      -webkit-column-gap: 1%; /* Saf3, Chrome*/
      -moz-column-count: 3;
      -moz-column-gap: 1%; /* FF3.5+ */
      column-count: 3;
      column-gap: 1%; /* Opera 11+*/
    }
  }
}

//PRO EHRENAMT

.ehrenamtSection{
  background-color: #eeeeee;
  padding: 10px 20px 0 20px;
}

.navbar-text {
    margin-left: 15px;
}

.carousel-caption {
  z-index: 1010;
}



.linklist__box {
  min-height: 135px;
}

.linklist__container > .linklist__box:nth-of-type(2n+1) {
  clear:both;
}

.linklist__box img { max-width: 100%; }