<navigation fade="false"></navigation>

<div class="spacer100"></div>

<div class="container">

  <div class="row">
    <div class="col-lg-6">
      <h2>Motivation Hinzufügen</h2>
    </div>
  </div>

  <div class="row">
    <form name="myForm">
    <div class="col-md-10">
      <div class="spacer20"></div>

      <div class="form-group">
        <div class="spacer10"></div>
        <h5>Titel</h5>
        <input type="text" class="form-control"  ng-model="motivations.title" required>
      </div>

      <textarea ng-wig="motivations.content" required></textarea>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <div class="spacer30"></div>
        <h5>Language</h5>
        <input type="text" class="form-control"  ng-model="motivations.language">
      </div>
    </div>
      </form>
  </div>

  <div class="spacer40"></div>
  <div class="row">
    <div class="col-lg-12">
      <div class="pull-right">
        <button class="btn btn-default" ng-click="cancel()">Abbrechen</button>
        <button class="btn btn-success" ng-click="newMotivation()" ng-disabled="!motivations.language">Speichern</button>
      </div>
    </div>
  </div>


  <div class="spacer100"></div>

</div>
