/* COLOR DEFINITIONS */
@white: #fff;

/*grey*/

@grey100str: "#eaeeed";
@grey200str: "#cfd7d9";
@grey300str: "#8994a0";
@grey400str: "#33434c";
@grey500str: "#282c2e";
@grey600str: "#1d2021";
@grey700str: "#121414";

@grey100orig: false;
@grey200orig: false;
@grey300orig: true;
@grey400orig: true;
@grey500orig: false;
@grey600orig: false;
@grey700orig: false;

/*silver*/

@silver100str: "#F0F0F5";
@silver200str: "#E6E6EB";
@silver300str: "#bdc1c7";
@silver400str: "#a8adb3";
@silver500str: "#909499";
@silver600str: "#787b80";
@silver700str: "#606366";

@silver100orig: false;
@silver200orig: false;
@silver300orig: false;
@silver400orig: true;
@silver500orig: false;
@silver600orig: false;
@silver700orig: false;

/*petrol*/

@darkblue100str: "#037da6";
@darkblue200str: "#006384";
@darkblue300str: "#005475";
@darkblue400str: "#004666";
@darkblue500str: "#003a54";
@darkblue600str: "#002d42";
@darkblue700str: "#002130";

@darkblue100orig: false;
@darkblue200orig: true;
@darkblue300orig: false;
@darkblue400orig: true;
@darkblue500orig: false;
@darkblue600orig: false;
@darkblue700orig: false;

/*red*/

@red100str: "#e57ca1";
@red200str: "#d6497a";
@red300str: "#bd2d5f";
@red400str: "#a21e4d";
@red500str: "#8c1d48";
@red600str: "#751b41";
@red700str: "#5f1939";

@red100orig: false;
@red200orig: false;
@red300orig: false;
@red400orig: true;
@red500orig: false;
@red600orig: false;
@red700orig: true;

/*yellow*/

@yellow100str: "#f6e5bc";
@yellow200str: "#ebca78";
@yellow300str: "#e3b839";
@yellow400str: "#d8aa00";
@yellow500str: "#bf9600";
@yellow600str: "#a68200";
@yellow700str: "#8c6e00";

@yellow100orig: true;
@yellow200orig: false;
@yellow300orig: false;
@yellow400orig: true;
@yellow500orig: false;
@yellow600orig: false;
@yellow700orig: false;

/*green*/

@green100str: "#c2cca6";
@green200str: "#b3c284";
@green300str: "#a3b562";
@green400str: "#95a844";
@green500str: "#7f8f39";
@green600str: "#68752f";
@green700str: "#525c25";

@green100orig: true;
@green200orig: false;
@green300orig: false;
@green400orig: true;
@green500orig: false;
@green600orig: false;
@green700orig: false;

/*blue*/

@blue100str: "#73B1DD";
@blue200str: "#00B1EB";
@blue300str: "#2274AC";
@blue400str: "#003C65";
@blue500str: "#729db3";
@blue600str: "#658b9e";
@blue700str: "#58798a";

@blue100orig: true;
@blue200orig: false;
@blue300orig: false;
@blue400orig: true;
@blue500orig: false;
@blue600orig: false;
@blue700orig: false;
