.btn {
//  padding : @btn-padding !important;
  letter-spacing: @btn-letter-spacing !important;
  border-bottom-right-radius : @btn-rounded  !important;
  border-top-right-radius : @btn-rounded  !important;
}

footer {
  a:hover {
    color:@link-hover-color !important;
  }
}

.navtransform .active a {
  &,
  &:hover,
  &:focus {
    color: white !important;
  }
}
