<navigation fade="false"></navigation>
<section id="top">

    <div class="spacer100"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="unselectable mar-btm">{{SETTINGS.legal.title}}</h2>

                <ng-include src="SETTINGS.legal.templateUrl"></ng-include>

            </div>
        </div>
        <div class="spacer20"></div>
    </div>

    <div class="spacer40"></div>

    <!-- FOOTER -->
    <div ng-include="'components/footer/footer.html'"></div>
    <div ng-include="'components/navbar/navbar.html'"></div>
    <!-- END FOOTER -->
</section>
