  <div class="modal-header ng-scope"><h3>Datenschutzrichtlinien</h3></div>
    <div class="modal-body ng-scope">
        <h1 class="vwd4_m100 vwd4_clear">
            <span>Allgemeine Nutzungsbedingungen.</span>
        </h1>
    
    <div class="modal-dialog-text m101_copy_image_2col parbase image_layer_enabled_par section">                
        <p>HERZLICH WILLKOMMEN AUF DEN SEITEN VON VOLKSWAGEN PRO EHRENAMT!</p>
&nbsp;<br/>
Die Volkswagen AG (nachfolgend VW) erbringt die von <i>Volkswagen pro Ehrenamt</i> angebotenen
Leistungen auf der Grundlage der nachstehenden Allgemeinen Nutzungsbedingungen
(ANB): <br/>
&nbsp;<br/>
<b>Allgemeine Nutzungsbedingungen</b> <br/>
&nbsp;<br/>
<b>1. Geltungsbereich und Änderung der Allgemeinen
Nutzungsbedingungen; persönliche und sachliche Voraussetzungen der Nutzung von
Volkswagen pro Ehrenamt </b><br/>
&nbsp;<br/>
(1) Die Volkswagen AG (VW) eröffnet Ihnen die Möglichkeit zur Nutzung der Suche
von Informationen von <i>Volkswagen pro
Ehrenamt </i>auf der Grundlage der nachfolgenden
Allgemeinen Nutzungsbedingungen (ANB). Die Möglichkeit zur Nutzung der Suche
von <i>Volkswagen pro
Ehrenamt</i> steht unter dem Vorbehalt Ihres
Einverständnisses mit den hier aufgeführten Allgemeinen Nutzungsbedingungen. VW
ist jederzeit zur Änderung der ANB berechtigt. Über Änderungen der ANB
informieren wir Sie auf der Eingangsseite zu Volkswagen pro Ehrenamt. <br/>
&nbsp;<br/>
&nbsp;<br/>
(2) Für die Nutzung der Leistungen<i>von Volkswagen pro Ehrenamt</i> benötigen Sie die
erforderlichen Hard- und Softwareeinrichtungen, die Sie für die Verbindung zum
Internet und World Wide Web (WWW) brauchen. Dies sowie der Zugang über das
Internet ist von Ihnen bereitzustellen und ist damit nicht Gegenstand der
Leistungen von VW im Rahmen dieses Internetauftritts. <br/>
&nbsp;&nbsp;<br/>
<b>2. Leistungen von VW</b> <br/>
&nbsp;<br/>
(1) VW stellt Ihnen in der Datenbank Informationen zur Verfügung, die von Organisationen eingereicht wurden. <br/>
&nbsp;<br/>
Es ist zu beachten, dass die Informationen zu Ehrenämtern keine Empfehlung von
VW darstellen und VW demzufolge für die <span class="GramE">Richtigkeit ,</span>
Aktualität und Vollständigkeit dieser Informationen nicht verantwortlich ist. <br>
&nbsp;<br>
(2) Datenschutz: Zum Thema "Datenschutz" verweisen wir auf unsere
Erklärung zum kundenorientierten Datenschutz. <br>
&nbsp;</p>

<p><b>3. Einstellen neuer Einträge</b> <br>
&nbsp;<br>
(1) VW weist darauf hin, dass neue Einträge in der Datenbank nur von
vertretungsberechtigten Personen (Vereinsvorstand, Schulleiter, usw.)
entgegengenommen werden.<br>
&nbsp;<br>
(2) Die Angaben zu der neu aufzunehmenden Tätigkeit sind in das
Antragsformular "Tätigkeitsprofil" einzutragen. </p>


<p>(3) Nach
Einstellung des neuen Angebotes ist die korrekte Übernahme der Angaben aus dem
Formular vom Beantragenden zu überprüfen.</p>


<p>(4) Die
Informationen des Anbieters werden im Internet öffentlich bekanntgegeben. Dies
ist insbesondere bei der Angabe von Kontaktinformationen (z.B. Telefonnummern)
zu beachten.</p>

<p></p>

<p>(5) Einstellfähig
sind nur Angebote gemeinnütziger Organisationen aus den Gebieten Soziales,
Kirche/Kultur, Natur, Sport, Kinder/Schule, Handwerk/Hauswirtschaft,
Rettungswesen, Büro/Verwaltung/EDV und Organisation/Veranstaltung.</p>

<p></p>

<p>(6)Sozialversicherungspflichtige Beschäftigung darf durch die
ehrenamtliche Tätigkeit nicht ersetzt werden.</p>

<p></p>

<p></p>

<p>(7) Die Prüfung
einer eventuellen steuerlichen Relevanz des einzustellenden Angebotes hat vom
Antragsteller zu erfolgen. </p>

<p></p>

<p>(8) Die
Antragsteller dürfen die Rechte Dritter nicht verletzen (z.B.
Namensrechtsverletzung).</p>

<p></p>

<p>(9) Eindeutig
nicht einstellbar sind Angebote von Organisationen, die Gewalt verherrlichen
oder verharmlosen, den Krieg verherrlichen, für eine terroristische oder
extremistische politische Vereinigung werben, zu einer Straftat auffordern oder
ehrverletzende Äußerungen treffen.<br>
&nbsp;<br>
<b>4. Zulässige Nutzung des Angebotes; Missbrauch</b> <br>
&nbsp;<br>
(1) Sie verpflichten sich, im Rahmen der Nutzung der Ehrenamtsuche die
gesetzlichen Bestimmungen zu wahren und sonstige Rechte Dritter - auch aufgrund
geltender vertraglicher Vereinbarungen bzw. Regelungen zwischen Ihnen und Dritten - nicht zu verletzen. <br>
&nbsp;&nbsp;<br>
<b>5. Unverbindlichkeit von Rat- und Auskunftserteilung;
Haftungsbeschränkungen und -freistellung</b> <br>
&nbsp;<br>
(1) Die im Rahmen der Ehrenamtsuche erhaltenen Auskünfte/Informationen sind
unverbindlich. VW ist nicht zum Ersatz des aus der Befolgung eines Rates oder
einer Empfehlung entstehenden Schadens verpflichtet. <br>
&nbsp;<br>
(2) Soweit VW über Links den Zugang zu anderen Websites ermöglicht, macht sich
VW die dort enthaltenen fremden Inhalte nicht zu <span class="GramE">eigen</span>
und ist für diese Inhalte auch nicht verantwortlich. Sobald VW Kenntnis von
rechtswidrigen Inhalten auf diesen fremden Seiten erhält, wird VW den
entsprechenden Link unverzüglich entfernen. <br>
&nbsp;<br>
(3) Wird VW von Dritten wegen eines vertragswidrigen oder schuldhaften
Verhaltens Ihrerseits, insbesondere wegen eines Verstoßes gegen Ihre Pflichten
aus Ziffer 3 in Anspruch genommen, sind Sie hierfür allein verantwortlich.
Insoweit stellen Sie VW von sämtlichen etwaigen Ansprüchen Dritter frei. <br>
&nbsp;<br>
(4) VW haftet nur für Schäden, die auf vorsätzliches oder grob fahrlässiges
Verhalten von VW zurückzuführen sind. Im Übrigen ist eine Haftung von VW ausgeschlossen.</p>

<p><br>
(5) Die vorstehenden Haftungsbeschränkungen und -freistellungen gelten auch für
Mitarbeiter von VW, die mit der Ehrenamtsuche bei VW befasst sind. <br>
&nbsp;&nbsp;<br>
<b>6. Befugnisse zum Löschen von Daten </b><br>
&nbsp;<br>
(1) Sie räumen VW für folgende Fälle das Recht ein, Ihre Daten zu sperren oder
zu löschen: <br>
&nbsp;<br>
<u>aufgrund Ihres Verhaltens</u> <br>
&nbsp;<br>
VW kann bei Vorliegen eines wichtigen Grundes die für Sie gespeicherten Inhalte
löschen bzw. sperren. <br>
&nbsp;&nbsp;<br>
Das Recht der Löschung bzw. Sperrung erlischt mit Wegfall des zur Löschung bzw.
Sperrung berechtigenden Grundes. Sonstige Rechte von VW bleiben hiervon unberührt.
<br>
&nbsp;<br>
<u>wegen rechtswidriger Inhalte und hoheitlicher Anordnungen</u> <br>
&nbsp;<br>
VW ist unabhängig von Ihrem Verhalten berechtigt, den Zugang zur Ehrenamtsuche
vorübergehend zu sperren, wenn VW unter Wahrung des Fernmeldgeheimnisses
Kenntnis von Umständen erhält, aus denen sich das Vorhandensein von strafbaren,
rechtswidrigen oder sittenwidrigen Inhalten auf seinen Systemen ergibt. Die
Sperrung wird nur in dem Maße und in dem zeitlichen Umfang erfolgen, wie sie
zur erfolgreichen und sicheren Sperrung des Zugangs zu entsprechenden Inhalten
erforderlich ist. Eine Sperrung des Servicezugangs unterbleibt, wenn andere
rechtlich und technisch mögliche und zumutbare Maßnahmen zur Verfügung stehen,
um die entsprechenden Inhalte gezielt zu löschen oder deren Nutzung anderweitig
zu verhindern. VW ist ebenfalls in dem vorstehend beschriebenen Umfang zur
Sperrung berechtigt, wenn VW durch Anordnungen von staatlichen Stellen zur
entsprechenden Sperrung verpflichtet wird oder Hinweise von diesen Stellen den
dringenden Verdacht des Vorhandenseins derartiger Inhalte begründen. <br>
&nbsp;&nbsp;<br>
<b>7. Anwendbares Recht</b> Auf diese ANB findet deutsches
Recht Anwendung. <br>
&nbsp;<br>
<b>8. Gerichtsstand</b> Für Streitigkeiten aus oder im
Zusammenhang mit der Nutzung des Portals und/oder diesen ANB sind die für
Wolfsburg zuständigen Gerichte ausschließlich zuständig. <br>
&nbsp;<br>
<b>9. Salvatorische Klausel</b> <br>
&nbsp;<br>
Sollten einzelne Bestimmungen dieser ANB unwirksam sein oder werden, so bleibt
die Wirksamkeit der übrigen Bestimmungen dieser Nutzungsbedingungen davon
unberührt. Die Parteien sind in einem solchen Falle verpflichtet, die
unwirksame Bestimmung durch eine wirksame Regelung zu ersetzen, die dem mit der
unwirksamen Bestimmung verfolgten Zweck möglichst nahe kommt. &nbsp;<br>
&nbsp;<br>
Stand: November 2010</p>
</div>
   </div>
 

    <div class="modal-footer ng-scope"><label class="pull-left"><input type="checkbox" ng-model="checked"
                                                                       class="ng-pristine ng-untouched ng-valid"> Ich
      Akzeptiere die Nutzungsbedingungen</label>
      <button type="button" class="btn" data-ng-click="$dismiss()">Abbruch</button>
      <button class="btn btn-primary" data-ng-click="$close()" ng-disabled="!checked" disabled="disabled">Okay</button>
    </div>
