/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28.09.2015, 18:14:24
    Author     : ilamani
*/

.vwd4_m100{
    letter-spacing: 0.04em;
    font-size: 24px
}

.modal-dialog-text{
    max-height: 300px;
    overflow: scroll;
    border: 1px solid #eee;
    padding: 5px;
}