.socialmedia_replacement {
  display: inline-block;
  height: 30px;
  vertical-align: top;
}

div.socialsharing_box {
  margin-top: 30px;
  margin-left: 2px;
  height: 30px;

  .google .socialmedia_replacement {
    width: 70px;
  }

  span {
    height: 30px !important;

    a {
      color: black;
      vertical-align: top;
    }
    a:hover {
      color: @link-hover-color;
    }

    i {
      font-size: 24px;
      height: 30px;
      margin-right: 15px;
      width: 55px;
      vertical-align: top;
    }

    i:hover {
      cursor: pointer;
      cursor: hand;

    }
  }

  .mailto {
    a {
      color: black;
      vertical-align: top;

      i {
        font-size: 25px;
        top: -1px;
        margin-top: -2px;
      }
    }
    a:hover {
      color: @link-hover-color;
    }
  }
}
