<div id="socialsharing{{generatedId}}" class="socialsharing_box">
    <span class="facebook" ng-if="shareFacebook">
        <a  ng-click="activateSharingFacebook()" ng-if="!facebookActivated"><i class="fa fa-facebook-official"></i></a>
        <div class="socialmedia_replacement" ng-show="facebookActivated"></div>
    </span>

    <span class="google" ng-if="shareGoogle">
        <a ng-click="activateSharingGoogle()" ng-if="!googleActivated"><i class="fa fa-google-plus-square"></i></a>
        <div class="socialmedia_replacement" ng-show="googleActivated"></div>
    </span>

    <span class="twitter" ng-if="shareTwitter">
        <a ng-click="activateSharingTwitter()" ng-if="!twitterActivated"><i class="fa fa-twitter-square"></i></a>
        <div class="socialmedia_replacement" ng-show="twitterActivated"></div>
    </span>

    <span class="mailto" ng-if="shareMail">
        <a href="mailto:?subject={{article.title}}&body={{mailDetailBody}}"><i class="fa fa-envelope-o"></i></a>
    </span>
</div>
