<h1>
      <span>Hinweise zum Datenschutz</span>
    </h1>
    <h4>Datenschutzerklärung</h4>
    <p>Wir freuen uns über Ihren Besuch auf unserer Webseite sowie über ihr Interesse an unserem Unternehmen und unseren Produkten. Damit Sie sich beim Besuch unserer Webseite sicher und wohl fühlen, nehmen wir den Schutz Ihrer persönlichen Daten und deren vertrauliche Behandlung sehr ernst.</p>
    <p>Mit diesen Hinweisen zum Datenschutz möchten wir Sie daher darüber informieren, wann wir welche Daten speichern und wie wir sie verwenden - selbstverständlich unter Beachtung der geltenden deutschen Datenschutzvorschriften.</p>
    <h4>Anonyme Datenerhebung</h4>
    <p>Wenn Sie auf unsere Internetseiten zugreifen, erfassen unsere Web-Server automatisch Informationen allgemeiner Natur. Dazu gehören die Art des Webbrowsers, das verwendete Betriebssystem, der Domainname des Internet Service Providers, die IP-Adresse des verwendeten Computers, die Webseite, von der aus Sie uns besuchen, die Seiten, die Sie bei uns besuchen sowie das Datum und die Dauer des Besuches. Hierbei handelt es sich ausschließlich um Informationen, welche keine Rückschlüsse auf Ihre Person zulassen. Wir werten diese Daten nur für statistische Zwecke und nur in anonymer Form aus.</p>
    <h4>Erhebung und Verarbeitung personenbezogener Daten</h4>
    <p>Personenbezogene Daten werden nur erhoben, wenn Sie diese von sich aus, zum Beispiel zur Durchführung eines Auftrages, einer Umfrage, eines Preisausschreibens oder einer Registrierung für personalisierte Dienste mitteilen. Dort werden Sie über den beabsichtigten Verarbeitungszweck informiert und falls erforderlich um Ihre Zustimmung zur Speicherung gebeten. Ihre Daten werden vor der Übertragung und Verarbeitung verschlüsselt, um diese vor dem Zugriff unberechtigter Personen zu schützen. <br />Ausnahme stellt hierbei der E-Mail-Versand dar.</p>
    <h4>Nutzung und Weitergabe der erhobenen Daten</h4>
    <p>Die im Rahmen unserer Webseiten erhobenen personenbezogenen Daten werden ohne Ihre Einwilligung nur zur Auftragsabwicklung oder Bearbeitung Ihrer Anfragen genutzt und dafür gegebenenfalls an die zuständige Konzerngesellschaft weitergegeben. Nur mit Ihrer Einwilligung erfolgt darüber hinaus eine Nutzung Ihrer Daten in einer unter Verantwortung der Porsche AG verwalteten, zentral geführten Kunden- und Interessenten-Datenbank und eine Zusammenführung Ihrer Daten im Porsche Konzern. Die Nutzung dieser Daten bleibt auf Zwecke der Werbung und Markt- und Meinungsforschung beschränkt und ist ausschließlich Porsche Konzerngesellschaften und der Porsche Handelsorganisation innerhalb der Bundesrepublik Deutschland möglich. Ihre jeweilige Einwilligung können Sie jederzeit mit Wirkung für die Zukunft widerrufen.</p>
    <p>Ihre Daten werden nicht verkauft, vermietet oder in anderer Weise Dritten zur Verfügung gestellt. Übermittlungen personenbezogener Daten an staatliche Einrichtungen und Behörden erfolgen nur im Rahmen zwingender nationaler Rechtsvorschriften. Unsere Mitarbeiter, Agenturen und Händler sind von uns zu strengster Vertraulichkeit verpflichtet.</p>
    <h4>Cookies</h4>
    <p>In einigen Bereichen unserer Seiten werden sogenannte Cookies eingesetzt. Ein Cookie ist eine kleine Textdatei, die von einer Website auf Ihrer Festplatte abgelegt wird. Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren. Die Cookies unserer Internetseiten erheben keinerlei personenbezogene Daten. Die in Cookies enthaltenen Informationen verwenden wir, um Ihnen die Nutzung unserer Seiten zu erleichtern und sie auf Ihre Bedürfnisse abzustimmen.</p>
    <p>Natürlich können Sie unsere Webseite auch ohne Cookies betrachten. Falls Sie nicht möchten, dass Cookies auf Ihrem Rechner gespeichert werden, können Sie die entsprechende Option in den Systemeinstellungen Ihres Browsers deaktivieren. Gespeicherte Cookies können Sie in den Systemeinstellungen Ihres Browsers jederzeit löschen. Wenn Sie keine Cookies akzeptieren, kann dieses allerdings zu Funktionseinschränkungen unserer Angebote führen.</p>
    <h4>Google Analytics</h4>
    <p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Im Falle der Aktivierung der IP-Anonymisierung auf dieser Webseite, wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren. Der aktuelle Link ist <a href="http://www.porsche.com/germany/exit/?pool=germany&type=externallink&id=googleanalytics-browseradd-onfordeactivation&lang=none">http://tools.google.com/dlpage/gaoptout?hl=de</a>.</p>
    <h4>Remarketing- bzw. „Ähnliche Zielgruppen“-Funktion der Google Inc. </h4>
    <p>Diese Website benutzt die Google AdWords Remarketing- bzw. „Ähnliche Zielgruppen“-Funktion von Google. Diese Funktion dient dazu, Nutzern unserer Website und anderen Nutzern mit ähnlichen Interessen aufgrund ihres Online-Nutzerverhaltens gezielte Produktempfehlungen und interessenbasierte Werbung einzublenden, wenn die Nutzer andere Websites im Google Display-Netzwerk besuchen oder eine Google-Suche ausführen. Werden auf diesen Websites unsere Werbeanzeigen eingeblendet, werden uns Informationen über den Besuch dieser Websites übermittelt, z.B. wie oft unsere Anzeige angesehen wurde, wie viele Klicks und Besuche über eine bestimmte Werbeanzeige generiert wurden und welche Inhalte nach einem Klick auf eine Werbeanzeige auf unserer Website aufgerufen wurden.  </p>
    <p>Die Grundlage dieser interessenbezogenen Werbung bildet eine Analyse des Online-Nutzerverhaltens. Zur Durchführung dieser Analyse setzt Google Cookies ein. Cookies sind kleine Textdateien, die von einem Webserver generiert und mittels des genutzten Webbrowsers auf Ihrem Computer gespeichert werden während Sie eine Website im Google Display-Netzwerk oder einen bestimmten Google-Dienst besuchen. Diese Cookies enthalten Informationen zu Ihrem letzten Besuch oder zu Einstellungen Ihres Browsers wie z.B. die eingestellte Sprache. </p>
    <p>Die Cookies dienen zur Erfassung der Besuche der Website mittels einer eindeutigen Identifikation eines Webbrowsers auf einem bestimmten Computer und nicht zur Identifikation einer Person. Sämtliche Daten werden durch Verwendung eines Pseudonyms gespeichert, so dass ein Rückschluss auf die Person des Nutzers und damit eine persönliche Identifikation nicht ohne Weiteres möglich ist. </p>
    <p>Sie können die Verwendung von Cookies durch Google deaktivieren, indem sie die <a href="http://www.porsche.com/germany/exit/?pool=germany&amp;type=externallink&amp;id=google-adwords-settings&amp;lang=none">Anzeigenvorgaben</a> aufrufen und das Opt-out entsprechend umsetzen. Alternativ können Sie die Verwendung von Cookies durch Drittanbieter deaktivieren, indem Sie die <a href="http://www.porsche.com/germany/exit/?pool=germany&amp;type=externallink&amp;id=networkadverstising&amp;lang=none">Deaktivierungsseite der Netzwerkinitiative</a> aufrufen und die dort genannten weiterführenden Information zum Opt-Out umsetzen. </p>
    <p>Weiterführende Informationen zu Google Remarketing bzw. „Ähnliche Zielgruppen“ können Sie einsehen unter: <a href="http://www.porsche.com/germany/exit/?pool=germany&amp;type=externallink&amp;id=google-adwords-support&amp;lang=none">https://support.google.com/adwords/answer/2676774?hl=de</a></p>
    <p>Die Datenschutzerklärung von Google können Sie einsehen unter: <a href="http://www.porsche.com/germany/exit/?pool=germany&amp;type=externallink&amp;id=google-privacy-policy&amp;lang=none">http://www.google.de/policies/privacy/</a></p>
    <p>Darüber hinaus können Sie das Setzen von Cookies auch über Ihre Browsereinstellungen steuern (s.o.).</p>
    <h4>Sicherheit</h4>
    <p>Porsche setzt technische und organisatorische Sicherheitsmaßnahmen ein, um Ihre durch uns verwalteten Daten gegen zufällige oder vorsätzliche Manipulationen, Verlust, Zerstörung oder vor dem Zugriff unberechtigter Personen zu schützen. Unsere Sicherheitsmaßnahmen werden entsprechend der technologischen Entwicklung fortlaufend verbessert.</p>
    <h4>Rechte der Betroffenen</h4>
    <p>Auf Anforderung teilen wir Ihnen schriftlich mit, ob und welche persönlichen Daten über Sie bei uns gespeichert sind. Sind Sie als Nutzer für den Porsche Login registriert, haben Sie die Möglichkeit, Ihre Daten selbst einzusehen und gegebenenfalls zu ändern oder zu löschen. Sollten trotz unserer Bemühungen um Datenrichtigkeit und Aktualität falsche Informationen gespeichert sein, werden wir diese auf Ihre Aufforderung hin berichtigen. Sie können Ihre Einwilligung zur Speicherung Ihrer persönlichen Daten jederzeit durch eine kurze Nachricht für die Zukunft widerrufen.</p>
    <p>Darüber hinaus können Sie sich bei Fragen bezüglich der Verarbeitung Ihrer persönlichen Daten, Anregungen oder Beschwerden an unsere Konzernbeauftragte für den Datenschutz wenden.</p>
    <h4>Konzernbeauftragte für den Datenschutz:</h4>
    <p>Dr. Ing. h.c. F. Porsche AG<br />Konzernbeauftragte für Datenschutz<br />Porscheplatz 1<br />70435 Stuttgart<br /><br />E-Mail: <a href="mailto:datenschutz@porsche.de">datenschutz@porsche.de</a></p>
