    <h1>
      <span>Impressum</span>
    </h1>
    <h4>Anbieter</h4>
    <p>
      <strong>Dr. Ing. h.c. F. Porsche AG</strong>
      <br />Porscheplatz 1<br />D-70435 Stuttgart<br />Tel: 0711 / 911-0</p>
    <p>vertreten durch den Vorstand:<br />Matthias Müller, Vorsitzender<br />Thomas Edig, stv. Vorsitzender<br />Wolfgang Hatz<br />Dr. Oliver Blume<br />Bernhard Maier<br />Lutz Meschke<br />Uwe-Karsten Städter<br /><br />Registergericht: Amtsgericht Stuttgart<br />HRB-Nr. 730623<br />USt.-Ident.-Nr. DE 147 799 625</p>
    <p>E-Mail:    <a href="mailto:info@porsche.de">info@porsche.de</a></p>
    <h4>Rechtshinweis</h4>
    <p>Für unseren Driver’s Selection Online Shop gelten dessen <a href="http://www.porsche.com/all/transitional/germany/shop/agb.htm)">AGB</a>. <br />Für die übrigen Webseiten auf <a href="http://www.porsche.com/germany/">www.porsche.com/germany</a> (nicht aber für den Driver’s Selection Online Shop) gilt:</p>
    <p>Porsche, das Porsche Wappen, 911, Carrera, 918 Spyder, Boxster, Cayman, Cayenne, Macan, Panamera, Targa, PDK, PCCB, PCM, PSM, Tequipment, Tiptronic und weitere Kennzeichen sind eingetragene Marken der Dr. Ing. h.c. F. Porsche AG.</p>
    <p>Die abgebildeten Fahrzeugmodelle zeigen die Ausstattung für die Bundesrepublik Deutschland. Sie enthalten z.B. auch Sonderausstattungen, die nicht zum serienmäßigen Lieferumfang gehören und nur gegen Aufpreis erhältlich sind. In verschiedenen Ländern sind aufgrund länderspezifischer Bestimmungen und Auflagen nicht alle Modelle verfügbar. Bitte informieren Sie sich über die lieferbaren Modelle und den genauen Ausstattungsumfang bei Ihrem Porsche Zentrum oder Ihrem Importeur.</p>
    <p>Änderungen von Konstruktion, Ausstattung und Lieferumfang sowie Abweichungen im Farbton sowie Irrtümer bleiben vorbehalten. Alle angegeben Preise sind unverbindlich.</p>
    <p>Bitte verwenden Sie nur Original Porsche Teile für Ihr Fahrzeug. Diese Teile können Sie über Porsche Vertragshändler beziehen. Ihr jeweiliger Porsche Partner ist über den geprüften Teileumfang informiert und wird Sie gerne beraten.</p>
    <p>Für die von Porsche freigegebenen Teile übernimmt Porsche im Rahmen der gesetzlichen Bestimmungen die Verantwortung. Bei Verwendung anderer Ersatzteile oder Zubehöre muss Porsche jede Haftung für Schäden, die durch diese Teile verursacht worden sind, ablehnen.</p>
    <p>Selbst wenn ein Anbieter für Zubehör oder Teile eine allgemeine Betriebserlaubnis erhalten hat, kann dennoch die Sicherheit des Fahrzeugs betroffen sein. Bei der Vielfalt der auf dem Zubehörmarkt angebotenen Produkte ist eine Überprüfung solcher Teile durch Porsche nicht möglich.</p>
    <p>Bitte beachten Sie weiter, dass bei Verwendung von Teilen, die von Porsche nicht freigegeben sind, auch die Garantieleistung für Ihr Fahrzeug betroffen sein kann.</p>
    <p>Dr. Ing. h.c. F. Porsche AG<br />Porscheplatz 1<br />D-70435 Stuttgart</p>
    <h4>Copyright-Hinweise</h4>
    <p>Alle Texte, Bilder, Audio-Dateien und weitere hier veröffentlichte Informationen, mit Ausnahme der gekennzeichneten Artikel, unterliegen dem Copyright der Dr. Ing. h.c. F. Porsche AG, Deutschland. Eine Reproduktion oder Wiedergabe des Ganzen oder von Teilen ist ohne die schriftliche Genehmigung der Dr. Ing. h.c. F. Porsche AG nicht gestattet. Der Porsche Schriftzug und das Porsche Wappen sind geschützte Marken der Dr. Ing. h.c. F. Porsche AG.</p>
    <h4>Urheberrechte und sonstige Schutzrechte</h4>
    <p>Sämtliche audiovisuellen Inhalte, u. a. Texte, Fotografien, Grafiken, Ton-, Video-, und Animationsdateien, unterliegen dem Urheberrecht und anderen Rechten zum Schutz des geistigen Eigentums.</p>