.btn {
  padding : @btn-padding;
  letter-spacing: @btn-letter-spacing !important;
  border-bottom-right-radius : @btn-rounded  !important;
  border-top-right-radius : @btn-rounded  !important;
}

h3.text-muted {
  color:@caption-font-color;
  font-family: @font-family-light;
  font-size: 18px;
}

footer {
  a:hover {
    color:@link-hover-color !important;
  }
}
