@white: #FFFFFF;
@whitestr: "#FFFFFF";


/*grey*/

@grey100: #F5F5F5;
@grey200: #E9E9E9;
@grey300: #cccccc;
@grey400: #848484;
@grey500: #666666;
@grey600: #333333;
@grey700: #3e4146;

@grey100str: "#F5F5F5";
@grey200str: "#E9E9E9";
@grey300str: "#cccccc";
@grey400str: "#848484";
@grey500str: "#666666";
@grey600str: "#333333";
@grey700str: "#3e4146";


@grey100orig: false;
@grey200orig: false;
@grey300orig: true;
@grey400orig: true;
@grey500orig: false;
@grey600orig: false;
@grey700orig: false;

/*silver*/

@silver100: #F8F8F8;
@silver200: #E9E9E9;
@silver300: #cccccc;
@silver400: #848484;
@silver500: #f9fafa; //<<<MAN Color (Footer)
@silver600: #333333;
@silver700: #1b1d1f;

@silver100str: "#F8F8F8";
@silver200str: "#E9E9E9";
@silver300str: "#cccccc";
@silver400str: "#848484";
@silver500str: "#f9fafa";
@silver600str: "#333333";
@silver700str: "#1b1d1f";

@silver100orig: false;
@silver200orig: false;
@silver300orig: false;
@silver400orig: true;
@silver500orig: false;
@silver600orig: false;
@silver700orig: false;

/*petrol*/

@darkblue100: #F5F5F5;
@darkblue200: #E9E9E9;
@darkblue300: #cccccc;
@darkblue400: #848484;
@darkblue500: #666666;
@darkblue600: #333333;
@darkblue700: #303c4a;

@darkblue100str: "#F5F5F5";
@darkblue200str: "#E9E9E9";
@darkblue300str: "#cccccc";
@darkblue400str: "#848484";
@darkblue500str: "#666666";
@darkblue600str: "#333333";
@darkblue700str: "#303c4a";

@darkblue100orig: false;
@darkblue200orig: true;
@darkblue300orig: false;
@darkblue400orig: true;
@darkblue500orig: false;
@darkblue600orig: false;
@darkblue700orig: false;


/*red*/

@red400: lighten(@red500, .4);
@red400: lighten(@red500, .3);
@red400: lighten(@red500, .2);
@red400: lighten(@red500, .1);
@red500: rgb(206, 0, 39); //<<< MAN RED
@red400: darken(@red500, .1);
@red400: darken(@red500, .2);

@red100str: "#E57CA1";
@red200str: "#D6497A";
@red300str: "#BD2D5F";
@red400str: "#CC0000";
@red500str: "#8C1D48";
@red600str: "#751B41";
@red700str: "#5F1939";

@red100orig: false;
@red200orig: false;
@red300orig: false;
@red400orig: true;
@red500orig: false;
@red600orig: false;
@red700orig: true;

/*yellow*/

@yellow100: #990000;
@yellow200: #990000;
@yellow300: #990000;
@yellow400: #990000;
@yellow500: #990000;
@yellow600: #990000;
@yellow700: #990000;


@yellow100str: "#990000";
@yellow200str: "#990000";
@yellow300str: "#990000";
@yellow400str: "#990000";
@yellow500str: "#990000";
@yellow600str: "#990000";
@yellow700str: "#990000";

@yellow100orig: true;
@yellow200orig: false;
@yellow300orig: false;
@yellow400orig: true;
@yellow500orig: false;
@yellow600orig: false;
@yellow700orig: false;

/*green*/

@green100: rgba(194, 204, 166, 1);
@green200: rgba(179, 194, 132, 1);
@green300: rgb(163, 181, 98);
@green400: rgba(149, 168, 68, 1);
@green500: rgba(127, 143, 57, 1);
@green600: rgba(104, 117, 47, 1);
@green700: rgba(82, 92, 37, 1);

@green100str: "#C2CCA6";
@green200str: "#B3C284";
@green300str: "#A3B562";
@green400str: "#95A844";
@green500str: "#7F8F39";
@green600str: "#68752F";
@green700str: "#525C25";

@green100orig: true;
@green200orig: false;
@green300orig: false;
@green400orig: true;
@green500orig: false;
@green600orig: false;
@green700orig: false;

/*blue*/

@blue100: #7B8B9A;
@blue200: #5B85AD;
@blue300: #5B85AD;
@blue400: #336699;
@blue500: #336699;
@blue600: #336699;
@blue700: #336699;

@blue100str: "#7B8B9A";
@blue200str: "#5B85AD";
@blue300str: "#5B85AD";
@blue400str: "#336699";
@blue500str: "#336699";
@blue600str: "#336699";
@blue700str: "#336699";

@blue100orig: true;
@blue200orig: false;
@blue300orig: false;
@blue400orig: true;
@blue500orig: false;
@blue600orig: false;
@blue700orig: false;
