<navigation fade="false"></navigation>

<div class="spacer100"></div>

<div class="container">
  <div class="row">
    <div class="col-sm-10"><h2 class="unselectable">Hier können Sie sich ehrenamtlich engagieren:</h2></div>
    <div class="col-sm-2">
      <div class="spacer25"></div>
      <!-- Select Language
      <div class="btn-group pull-right" dropdown is-open="status.isopen">
        <button id="single-button" type="button" class="btn btn-default" dropdown-toggle ng-disabled="disabled">
          Sortieren <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
          <li>
            <a href="#">ABC</a>
          </li>
      </ul>
      </div> -->
    </div>

  </div>

  <div class="spacer20"></div>

  <div class="row">
    <div id="equalheight">
    <!-- FILTER -->
    <div class="col-md-2 col-h-a-list background-color-silver100">
      <h4 class="unselectable">Liste filtern nach:</h4>

      <div class="row ">
        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
          <h5>Region</h5>
          <!-- Select Language -->
          <div ng-model="plzFilter" class="btn-group" dropdown>
              <button id="single-plz-button" type="button" class="btn btn-default ehrenamt-plz" dropdown-toggle ng-disabled="disabled">
                <span class="title">{{plzFilterLabel}}</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu ehrenamt-plz" role="menu" aria-labelledby="single-plz-button">
                        <li>
                          <a href="" ng-click="plzFilterClickHandler('__all','Alle')">Alle anzeigen</a>
                        </li>
                        <li ng-repeat="plz in plzs">
                          <a href="" ng-click="plzFilterClickHandler(plz.name,'PLZ '+plz.name)">PLZ {{plz.name}}</a>
                        </li>
               </ul>
            <!--
                        <select ng-model="plzFilter" ng-change="getFilteredContent()" class="form-control">
                            <option value="__all">Alle anzeigen</option>
                            <option ng-repeat="plz in plzs" value="{{plz.name}}">PLZ {{plz.name}}</option>
                        </select>
            -->
          </div>
        </div>

          <div class="spacer10"></div>
        <div class="col-lg-12 col-md-12  col-sm-6 col-xs-6">
          <h5>Kategorie</h5>
            <div class="checkbox checkbox-primary">

                    <input type="checkbox" class="styled" ng-click="categoryFilterClickHandler('__all')" ng-checked="categoryFilter.length == 0" />
              <label>Alle </label>
            </div>
            <div class="checkbox checkbox-primary" ng-repeat="category in categories">

              <input type="checkbox" class="styled" ng-click="categoryFilterClickHandler(category._id)" ng-checked="isCategorySelected(category._id)" />
              <label>{{category.name}}</label>
            </div>
        </div>

      </div>

    </div>
      <div class="spacer20"></div>
    <!-- END FILTER -->

    <div class="spacer5 col-h-a-list"></div>

    <!-- CONTENT -->
    <div class="col-md-10 col-h-a-list">
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="hidden-xs">Kategorie</th>
          <th>Einsatzort</th>
          <th class="hidden-xs">Organisation</th>
          <th>Aufgabe</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="ehrenamt in ehrenamtList">
          <td class="hidden-xs">{{ehrenamt.kategorie.name}}</td>
          <td>{{ehrenamt.standort.name}}</td>
          <td class="hidden-xs">{{ehrenamt.nameDerOrganisation}}</td>
          <td>{{ehrenamt.konkreteTaetigkeit}}</td>
          <td><a href="" ng-click="goToEhrenamt(ehrenamt)"><i class="fa fa-angle-right"></i> Details</a></td>
        </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col-xs-12 pagination-centered">
            <pagination total-items="paginationTotalCount" ng-change="getFilteredContent()" ng-model="paginationCurrentPage" max-size="paginationMaxSize"  rotate="false" items-per-page="paginationItemsPerPage" previous-text="&laquo;" next-text="&raquo;"></pagination>
        </div>
      </div>
    <!-- END CONTENT -->
  </div>
</div>
</div>

<div class="spacer20"></div>
</div>
<!-- FOOTER -->
<div ng-include="'components/footer/footer.html'"></div>
<div ng-include="'components/navbar/navbar.html'"></div>
<!-- END FOOTER -->
