.dropdown-menu.ehrenamt-plz {
//  display: block;
  width: 140px;
  min-width: 140px;
  max-height: 300px;
  overflow-y: scroll;

  li {
    width: 120px;
    a {
      width: 120px;
    }
  }
}

button.ehrenamt-plz {
  //  display: block;
  width: 140px;
  padding-right: 5px;

  .caret {
    float: right;
    margin-top: 5px;
  }
  .title {
    float: left;
    width: 100px;
    text-align: left;
    vertical-align: middle;
  }
}


