<navigation fade="false"></navigation>

<div class="spacer100"></div>

<div class="container">

  <div class="row">
    <div class="col-lg-6">
      <h2>Artikel anlegen</h2>

      <div class="spacer20"></div>
    </div>
  </div>


  <div class="row">
    <!-- HEADLINE -->
    <div class="col-lg-12">
      <div class="form-group">
        <h4>Headline</h4>
        <input type="text" class="form-control" placeholder="Headline" data-ng-model="article.title">
      </div>
      <div class="checkbox checkbox-primary pull-right">
        <input type="checkbox" class="styled" ng-model="article.toparticle" ng-true-value='"true"'><label>Topartikel</label>
      </div>
    </div>
    <!-- END HEADLINE -->

  </div>
  <div class="row">
    <!-- DROPDOWNS -->
    <div class="col-lg-12">

      <!-- ANGULAR DROPDOWN EXAMPLE
      <select
        ng-model="address.state"
        ng-options="standorte.name as standorte.description for standorte in lov_state">
      </select>
       -->

      <h4>Standort</h4>

      <div class="row">
        <div class="col-lg-9">
          <select class="form-control" ng-options="standort._id as standort.name for standort in standorte"
                  ng-model="article.standort">
          </select>
        </div>
        <div class="col-lg-3">
          <button class="btn btn-default form-control" ng-click="openModalStandort()">Standort hinzufügen</button>
        </div>
      </div>


      <h4>Marke</h4>

      <div class="row">
        <div class="col-lg-9">
          <select class="form-control" ng-options="marke._id as marke.name for marke in marken"
                  ng-model="article.marke">
          </select>
        </div>
        <div class="col-lg-3">
          <button class="btn btn-default form-control" ng-click="openModalMarke()">Marke hinzufügen</button>
        </div>
      </div>

      <h4>Kategorie</h4>

      <div class="row">
        <div class="col-lg-9">
          <select class="form-control" ng-options="kategorie._id as kategorie.name for kategorie in kategorien"
                  ng-model="article.kategorie">

          </select>
        </div>
        <div class="col-lg-3">
          <button class="btn btn-default form-control" ng-click="openModalKategorie()">Kategorie hinzufügen</button>
        </div>
      </div>

      <h4>Tags</h4>
      <div class="row">
        <div class="col-lg-9">
          <tags-input ng-model="tags" keyProperty="" text="text"></tags-input>
        </div>
      </div>
    </div>
    <!-- END DROPDOWNS -->
  </div>

  <div class="row">
    <div class="spacer40"></div>
    <div class="col-lg-12">
      <textarea ng-wig="article.content"></textarea>
    </div>
  </div>

  <!--<div class="row">
      <div class="col-lg-12">
          <div class="form-group">
              <h4>Organisation</h4>
              <input type="text" class="form-control" placeholder="Organisation" ng-model="article.organisation">
          </div>
      </div>
  </div>-->

  <div class="spacer30"></div>

  <div class="row" data-ng-if="article.image">
    <div class="col-lg-12">
      <img class="img-responsive img-thumbnail" data-ng-src="{{article.image}}">
    </div>
  </div>

  <div class="row" data-ng-if="article.image">
    <div class="col-lg-12">
      <h4>Untertitel</h4>
      <input type="text" class="form-control" data-ng-model="article.imagesubtitle">
    </div>
  </div>

  <div class="row" data-ng-if="article.image">
    <div class="col-lg-12">
      <h4>Moving-Image-24 URL</h4>
      <input type="text" class="form-control" data-ng-model="article.videoURL">
    </div>
  </div>

  <div class="spacer10"></div>

  <div class="row">
    <div class="col-lg-3">

          <span class="btn btn-default btn-file">
                Bild hinzufügen<input type="file" ngf-select="onFileSelect($files)" accept="image/png, image/jpeg">
          </span>
      <button class="btn btn-default btn-danger" data-ng-if="article.image" ng-click="clearImage()"><span
        class="groupicon-close"/></button>
      <!--<form class="form-inline">-->
      <!--<div class="form-group">-->
      <!--<input type="text" class="form-control" placeholder="Datei">-->
      <!--</div>-->
      <!--<button type="submit" class="btn btn-default">Bild hinzufügen</button>-->
      <!--</form>-->
    </div>

    <div class="col-lg-4">
      <span class="text-warning">Laden sie bitte keine Bilder über 3MB hoch. Danke.</span>
    </div>

    <!--<div class="col-lg-6">-->
    <!--<form class="form-inline">-->
    <!--<div class="form-group">-->
    <!--<input type="text" disabled="true" class="form-control" placeholder="Datei">-->
    <!--</div>-->
    <!--<button disabled="true" type="submit" class="btn btn-default">Video hinzufügen</button>-->
    <!--</form>-->

  </div>

  <div class="spacer40"></div>
  <div class="row">
    <div class="col-lg-12">
      <div class="pull-right">

        <button
          ng-show="editMode"
          class="btn btn-danger"
          mwl-confirm
          confirm-text="Löschen"
          placement="top"
          on-confirm="deleteArticle(article)"
          on-cancel="cancelClicked = true"
          confirm-button-type="danger"
          cancel-button-type="default">
          Artikel Löschen
        </button>
        <button class="btn btn-default" ng-click="abort();">Abbrechen</button>
        <button class="btn btn-success" ng-show="showSaveButton(article)" ng-click="createArticle()">Speichern</button>
        <button class="btn btn-success" ng-show="showFakeSaveButton(article)" ng-click="updateArticle()">Speichern
        </button>
        <button class="btn btn-success" ng-show="showApproveButton(article)" ng-click="updateArticle()">Freischalten
        </button>
      </div>
    </div>
  </div>


  <div class="spacer100"></div>

</div>

<script type="text/ng-template" id="modalStandort.html">
  <div class="modal-header">
    <h3 class="modal-title">Standort hinzufügen</h3>
  </div>
  <div class="modal-body">
    <div class="row" style="padding:5px;" data-ng-repeat="standort in standorte">
      <div class="col-lg-10">
        {{standort.name}}
      </div>
      <div class="col-lg-2">
        <button class="btn btn-danger" ng-click="deleteObject(standort)"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-lg-9">
        <input type="text" class="form-control" placeholder="Name des Standort" ng-model="newStandort"/>
      </div>
      <div class="col-lg-3">
        <button class="btn btn-success form-control" type="button" ng-click="save()">Erstellen</button>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="close()">Schließen</button>
  </div>
</script>


<script type="text/ng-template" id="modalMarke.html">
  <div class="modal-header">
    <h3 class="modal-title">Marke hinzufügen</h3>
  </div>
  <div class="modal-body">
    <div class="row" style="padding:5px;" data-ng-repeat="marke in marken">
      <div class="col-lg-10">
        {{marke.name}}
      </div>
      <div class="col-lg-2">
        <button class="btn btn-danger" ng-click="deleteObject(marke)"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-lg-9">
        <input type="text" class="form-control" placeholder="Markenname" ng-model="newMarke"/>
      </div>
      <div class="col-lg-3">
        <button class="btn btn-success form-control" type="button" ng-click="save()">Erstellen</button>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="close()">Schließen</button>
  </div>
</script>


<script type="text/ng-template" id="modalKategorie.html">
  <div class="modal-header">
    <h3 class="modal-title">Kategorie hinzufügen</h3>
  </div>
  <div class="modal-body">

    <div class="row" style="padding:5px;" data-ng-repeat="kategorie in kategorien">
      <div class="col-lg-10">
        {{kategorie.name}}
      </div>
      <div class="col-lg-2">
        <button class="btn btn-danger" ng-click="deleteObject(kategorie)"><i class="fa fa-times"></i></button>
      </div>
    </div>
    <br/>

    <div class="row">
      <div class="col-lg-9">
        <input type="text" class="form-control" placeholder="Name der Kategorie" ng-model="newKategorie"/>
      </div>
      <div class="col-lg-3">
        <button class="btn btn-success form-control" type="button" ng-click="save()">Erstellen</button>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="close()">Schließen</button>
  </div>
</script>

<div ng-include="'components/footer/footer.html'"></div>
<div ng-include="'components/navbar/navbar.html'"></div>
