<navigation fade="false"></navigation>

<div class="spacer100"></div>

<div class="container">

    <div class="row">
        <div class="col-lg-6">
            <h2>Link Hinzufügen</h2>
        </div>
    </div>





    <h4>Toplink</h4>
    <div class="row">
        <div class="col-lg-12">
            <input type="checkbox" ng-model="link.isToplink" ng-checked="link.isToplink" ng-click="toplinkClickHandler()">
            Dieser Link ist ein Toplink
        </div>
    </div>

    <div ng-hide="link.isToplink">
        <div class="spacer10"></div>
        <h4>Standort</h4>
        <div class="row">
            <div class="col-lg-12">
                <select class="form-control" ng-options="standort._id as standort.name for standort in standorte"
                        ng-model="link.standort">
                </select>
            </div>
        </div>

        <div class="spacer10"></div>
        <h4>Kategorie</h4>
        <div class="row">
            <div class="col-lg-9">
                <select class="form-control"
                        ng-options="kategorie._id as kategorie.name for kategorie in kategorien"
                        ng-model="link.kategorie">
                </select>
            </div>
            <div class="col-lg-3">
                <button class="btn btn-default form-control" ng-click="openModalKategorie()">Kategorie hinzufügen
                </button>
            </div>
        </div>
    </div>

    <div class="spacer10"></div>
    <h4>Titel</h4>
    <div class="row">
        <div class="col-lg-12">
            <input type="text" class="form-control" ng-model="link.title">
        </div>
    </div>





    <div class="spacer10"></div>
    <h4>Link <br/>
        <small class="text-muted">Beginnend mit http://</small>
    </h4>
    <div class="row">
        <div class="col-lg-12">
            <input type="text" class="form-control" ng-model="link.url">
        </div>
    </div>


    <div class="spacer10"></div>
    <h4>Beschreibung</h4>
    <div class="row">
        <div class="col-md-12">
            <textarea ng-wig="link.content"></textarea>
        </div>
    </div>

    <div class="spacer10"></div>
    <h4>Bild</h4>

    <div class="row">
        <!--<div class="col-lg-12">
            <input type="text" class="form-control" ng-model="link.bild">
        </div>-->
        <div class="col-lg-12">
            <span class="btn btn-default btn-file">
                Bild hinzufügen<input type="file" ngf-select="onFileSelect($files)" accept="image/png, image/jpeg">
            </span>
            <button class="btn btn-default btn-danger" data-ng-if="link.bild" ng-click="clearImage()"><span
                    class="groupicon-close"/></button>
        </div>
        <div class="row" data-ng-if="link.bild">
            <div class="col-lg-12">
                <img class="img-responsive img-thumbnail" data-ng-src="{{link.bild}}">
            </div>
        </div>
    </div>


    <div class="spacer40"></div>
    <div class="row">
        <div class="col-lg-12">
            <div class="pull-right">
                <button class="btn btn-default" ng-click="cancel()">Abbrechen</button>
                <button class="btn btn-success" ng-click="saveLink()">Speichern</button>

            </div>
        </div>
    </div>

    <div class="spacer100"></div>

</div>
<div ng-include="'components/footer/footer.html'"></div>
<div ng-include="'components/navbar/navbar.html'"></div>

<script type="text/ng-template" id="modalKategorie.html">
    <div class="modal-header">
        <h3 class="modal-title">Kategorie hinzufügen</h3>
    </div>
    <div class="modal-body">

        <div class="row" style="padding:5px;" data-ng-repeat="kategorie in kategorien">
            <div class="col-lg-10">
                {{kategorie.name}}
            </div>
            <div class="col-lg-2">
                <button class="btn btn-danger" ng-click="deleteObject(kategorie)"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-lg-9">
                <input type="text" class="form-control" placeholder="Name der Kategorie" ng-model="newKategorie"/>
            </div>
            <div class="col-lg-3">
                <button class="btn btn-success form-control" type="button" ng-click="save()">Erstellen</button>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="close()">Schließen</button>
    </div>
</script>

<div ng-include="'components/footer/footer.html'"></div>
<div ng-include="'components/navbar/navbar.html'"></div>
