.darkrow{
  background-color: @silver100;
}

.articl-list-img {
    width: 210px;
    margin-top: -15px;
    object-position: center;
    max-height: 200px;
}

.col-h-a-list h4{
    padding-top: 10px;
}

.content-row{
    min-height: 220px;
}
@media only screen and (min-device-width: 413px) and (max-device-width: 415px) { 
    .articl-list-img{
        width: 100%;
        height: auto;
    }
}

.first-row{
    display: none;
}

@media only screen and (min-device-width: 374px) and (max-device-width: 376px) { 
    .articl-list-img{
        width: 100%;
        height: auto;
    }
    .first-row{
        display: block;
    }
}
@media only screen and (min-device-width: 359px) and (max-device-width: 361px) { 
    .articl-list-img{
        width: 100%;
        height: auto;
    }
    .first-row{
       display: block;
    }
}
@media only screen and (min-device-width: 319px) and (max-device-width: 321px) { 
    .articl-list-img{
        width: 100%;
        height: auto;
    }
    .first-row{
        display: block;
    }
}