<navigation fade="false"></navigation>

<div class="spacer100"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-md-10">
            <h2>Aktuelle Aktionen</h2>
        </div>
    </div>
</div>
<div class="spacer10"></div>
<div class="container-fluid ">
    <div class="container">

        <div class="row">

            <div id="equalheight">
                <!-- FILTER -->
                <div class="col-md-2 col-h-a-list background-color-silver100">
                    <div class="spacer10"></div>
                    <h4>Liste filtern nach:</h4>

                    <div class="row">

                        <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                            <h5>Standort</h5>

                            <div class="checkbox checkbox-primary" >

                              <input type="checkbox" class="styled" ng-click="locationFilterClickHandler('__all')"
                                           ng-checked="locationFilter.length == 0"/>
                              <label>Alle</label>
                            </div>
                            <div class="checkbox checkbox-primary" ng-repeat="city in cities">

                              <input type="checkbox" class="styled" ng-click="locationFilterClickHandler(city._id)"
                                           ng-checked="isLocationSelected(city._id)"/>
                              <label>{{city.name}}</label>
                            </div>
                        </div>

                        <div class="col-lg-12 col-md-12  col-sm-6 col-xs-6">
                            <h5>Marke</h5>

                            <div class="checkbox checkbox-primary">

                                    <input type="checkbox" class="styled" ng-click="categoryFilterClickHandler('__all')"
                                           ng-checked="categoryFilter.length == 0"/>
                              <label>Alle</label>
                            </div>
                            <div class="checkbox checkbox-primary" ng-repeat="category in categories">

                                    <input type="checkbox" class="styled" ng-click="categoryFilterClickHandler(category._id)"
                                           ng-checked="isCategorySelected(category._id)"/>
                              <label>{{category.name}}</label>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- END FILTER -->


                <!-- CONTENT -->
                <div class="col-md-10 col-list col-h-a-list" style="padding-top:0">

                    <div class="row first-row"><br/></div>
                    <div ng-repeat="article in articles">
                        <div class="row content-row" style="height: 220px; padding-top: 15px; display: inline-table;" ng-class="$even?'darkrow':''">
                            <div class="spacer10"></div>
                            <div class="col-lg-10" style="">
                                <div class="article-list-img-div" >
                                    <a class="pull-left mar-all" href="/article/{{article._id}}" style="margin-left: 0px;">
                                        <img class="media-object articl-list-img"
                                             src="{{article.image}}" alt=""/>
                                    </a>
                                </div>
                                <div class="media-body mar-all">
                                    <h4 class="media-heading"><a href="/article/{{article._id}}">{{article.title}}</a>
                                        <br/>
                                        <small class="text-muted">{{article.standort.name}}<span class="pull-right">{{article.organisation}}</span>
                                            <!-- , {{article.createdAt |date:'dd.MM.yyyy'}}-->
                                        </small>
                                    </h4>
                                    {{article.content | characters:230 }} <a href="/article/{{article._id}}">Mehr...</a>
                                </div>
                            </div>

                            <div class="col-lg-2">
                                <div class="spacer10"></div>
                               <!-- <span ng-repeat="tag in article.tags" class="label label-default" style="margin: 2px">{{tag}}</span>-->
                            </div>
                            <div class="spacer10"></div>
                        </div>

                    </div>


                </div>
                <!-- END CONTENT -->


            </div>
        </div>
        <div class="spacer40"></div>
    </div>
</div>
<div class="spacer10"></div>
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-4">
            <pagination total-items="paginationTotalCount" ng-change="getFilteredContent()"
                        ng-model="paginationCurrentPage" items-per-page="paginationItemsPerPage"
                        max-size="paginationMaxSize" rotate="false" previous-text="&laquo;"
                        next-text="&raquo;"></pagination>
        </div>
    </div>
</div>

<div class="spacer20"></div>


<!-- FOOTER -->
<div ng-include="'components/footer/footer.html'"></div>
<div ng-include="'components/navbar/navbar.html'"></div>
<!-- END FOOTER -->
