.article-header-img {
  @media (min-width: @screen-xs-min) and (max-width: @screen-md-max) {
//    min-width: @screen-sm-max;
    max-width: (@screen-xs - (2*@modal-inner-padding)) !important;
    max-height: 300px !important;
  }

  @media (min-width: @screen-lg-min) {
    max-width: (@screen-lg-min - (2*@modal-inner-padding));
    max-height: 477px !important;
  }

}

