<navigation fade="false"></navigation>

<div class="spacer100"></div>

<div class="container">

  <!-- HEADLINE -->

  <div class="row">
    <div class="col-md-12">
      <h2>{{article.title}}</h2>

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h5 class="text-muted">{{article.standort.name}}, {{article.createdAt | date:'dd.MM.yyyy'}}</h5>
        </div>
        <div class="col-xs-12 col-md-6 text-xs-left text-md-right text-lg-right">
          <h5 class="text-muted">{{article.marke.name}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END HEADLINE-->

<!-- HEADER -->
<div id="header-background" class="bg-gray" ng-hide="article.videoURL">
  <div id="header-content" class="container">
    <div class="row">
      <div class="col-lg-12">
          <img class="img-responsive article-header-img" ng-src="{{article.image}}" data-ng-if="article.image">
      </div>
    </div>
  </div>
</div>
<!-- END HEADER -->

<!-- SUBTITLE-->
<div id="header-background" ng-hide="article.videoURL">
  <div id="header-content" class="container">
    <div class="row">
      <div class="col-lg-12">
        <label class="text-xs text-thin text-muted">{{article.imagesubtitle}}</label>
      </div>
    </div>
  </div>
</div>

<div id="header-video" class="bg-gray" ng-show="article.videoURL">
  <div id="header-content-url" class="container">
    <div class="row">
      <div class="col-lg-12">
        <div id="videoscript" class="embed-responsive embed-responsive-16by9" >
        </div>
      </div>
    </div>
  </div>
</div>


<div class="spacer30"></div>
<!-- END SUBTITLE-->

<!-- CONTENT -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-lg article-detail-content" style="line-height: 170%; letter-spacing: .02em" ng-bind-html="article.content">
    </div>
  </div>

  <!-- END CONTENT -->

  <div class="spacer10"></div>

  <!-- META -->
  <div class="row">
    <div class="col-lg-12">
      <span ng-repeat="tag in tags" class="label label-default" style="margin: 2px; margin-right: 7px;">{{tag.name}}</span>
    </div>

    <!-- PLACE FOR SOCIAL ICONS HERE -->
    <div class="col-lg-12">
      <socialsharing mail="false" title="{{article.title}}"/>
    </div>

  </div>
  <!-- END META -->

  <div class="row">
    <div class="col-lg-12">
      <button class="btn btn-default pull-right" ng-click="goToArticle()">Zurück zur Übersicht</button>
    </div>
  </div>

</div>

<div class="spacer20"></div>

<div class="spacer50"></div>

<!-- FOOTER -->
<div ng-include="'components/footer/footer.html'"></div>
<!-- END FOOTER -->

