<navigation fade="false"></navigation>

<div class="spacer100"></div>

<div class="container">

  <div class="row">
    <div class="col-lg-6">
      <h2>Motivation verwalten</h2>
    </div>
    <div class="col-lg-6">
      <div class="spacer30"></div>
      <button type="submit" class="btn btn-primary pull-right" ng-click="newMotivation()"><i class="fa fa-plus"></i> Motivation Anlegen</button>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Sprache</th>
          <th>Erstelldatum</th>
          <th>Content</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="motivation in motivationsList">
          <td><b>{{motivation.language}}</b></td>
          <td>{{motivation.createdAt | date:'d.M.yyyy'}}</td>
          <td>{{motivation.content}}</td>
          <td>
            <a href="#" class="btn btn-default" ng-click="goToeditMotivation(motivation)">
              Bearbeiten
            </a>
          </td>
          <td>
            <button
              class="btn btn-danger"
              mwl-confirm
              confirm-text="Löschen"
              placement="left"
              on-confirm="deleteMotivation(motivation)"
              on-cancel="cancelClicked = true"
              confirm-button-type="danger"
              cancel-button-type="default">
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>

  <div class="spacer100"></div>

</div>

<div ng-include="'components/footer/footer.html'"></div>
<div ng-include="'components/navbar/navbar.html'"></div>
